<%= form_for(pregunta_path) do |form| %>
  <% if @pregunta.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pregunta.errors.count, "error") %> no es posible guardar registro:</h2>

      <ul>
      <% @pregunta.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :pregunta %>
    <%= form.text_area :pregunta %>
  </div>

  <div class="field">
    <%= form.label :respuesta %>
    <%= form.text_area :respuesta %>
  </div>

  <div class="field">
    <%= form.label :autor %>
    <%= form.text_field :autor %>
  </div>

  <div class="field">
    <%= form.label :tipo %>
    <%= form.text_field :tipo %>
  </div>

  <div class="field">
    <%= form.label :responsable %>
    <%= form.text_field :responsable %>
  </div>

  <div class="actions">
    <%= form.submit "Guardar Registro" %>
  </div>
<% end %>
