<p id="notice"><%= notice %></p>

<p>
  <strong>Pregunta:</strong>
  <%= @preguntum.pregunta %>
</p>

<p>
  <strong>Respuesta:</strong>
  <%= @preguntum.respuesta %>
</p>

<p>
  <strong>Autor:</strong>
  <%= @preguntum.autor %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @preguntum.tipo %>
</p>

<p>
  <strong>Responsable:</strong>
  <%= @preguntum.responsable %>
</p>

<%= link_to 'Edit', edit_preguntum_path(@preguntum) %> |
<%= link_to 'Back', pregunta_path %>
