<div id="body-cert">
	<h1>Catálogo de Escuelas</h1>
 <p><%= link_to 'Agregar Escuela', new_escuela_path, class: "btn btn-default btn-lg" %>
  <%= link_to 'Dashboard', cert_escolars_path, class: "btn btn-success btn-lg" %></></p>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Contacto</th>
      <th>Cargo</th>
       
    </tr>
  </thead>
<% if @escuelas.empty? %>
  <h1 id="no-escuelas">No existen escuelas</h1>
 <% else %>
  <tbody>
    <% @escuelas.each do |escuela| %>
      <tr>
        <td><%= escuela.id %></td>
        <td><%= escuela.nombre %></td>
        <td><%= escuela.nombre_enlace + " " + escuela.appaterno_enlace + " " + escuela.apmaterno_enlace %></td>
        <td><%= escuela.cargo_enlace %></td>
 
        <td><%= link_to 'Modificar', edit_escuela_path(escuela) %></td>
        <td><%= link_to 'Eliminar', escuela, method: :delete, data: { confirm: '¿Confirma Eliminar la Escuela?' } %></td>
         
      </tr>
    <% end %>
  </tbody>
  <% end %>
</table>

<br>
</div>
</div>


 