<div id="body-cert">
	<h1>Catálogo de Escuelas</h1>
 <p><%= link_to 'Agregar Escuela', new_escuela_path, class: "btn btn-default btn-lg" %>
  <%= link_to 'Dashboard', cert_escolars_path, class: "btn btn-success btn-lg" %></></p>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Razón Social</th>
      <th>Contacto</th>
      <th>Teléfono</th>
      <th>Correo</th>
      <th>Certificador</th>

       
    </tr>
  </thead>
<% if @escuelas.empty? %>
  <h1 id="no-escuelas">No existen escuelas</h1>
 <% else %>
  <tbody>
    <% @escuelas.each do |escuela| %>
      <tr>
        <td><%= escuela.id %></td>
        <% escuela_datos = User.find(escuela.user_id) %>
        <td><%= escuela_datos.razon_social %></td>
        <td><%= escuela_datos.nombre_completo %></td>
        <td><%= escuela_datos.telefono_enlace %></td>
        <td><%= escuela_datos.correo_enlace %></td>
        <% nombre_certificador = User.find(escuela.certificador.user_id) %>
        <td><%= nombre_certificador.nombre_certificador %></td>

        <td><%= link_to 'Modificar', edit_escuela_path(escuela) %></td>
         
      </tr>
    <% end %>
  </tbody>
  <% end %>
</table>

<br>
</div>
</div>


 