<div class="container-fluid-crud">
  <h2><%= image_tag "manzana.jpg", width: 100 %> Actualizar Registro Socios</h2>
  
     <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
     <%= render "devise/shared/error_messages", resource: resource %>
     <div class="row">
        <div class="col-sm-4">
          <h2>Datos Usuario</h2>

          <div class="field">
             <%= f.label :nombre_usuario %><br />
             <%= f.text_field :nombre, autofocus: true %>
          </div>

          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email %>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Actualmente esperando confirmacion: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="field">
            <%= f.label :contraseña %> <i>(dejar vacio si no se actualiza la constraseña)</i><br />
            <%= f.password_field :password, autocomplete: "new-password" %>
            <% if @minimum_password_length %>
              <br />
              <em>mínimo <%= @minimum_password_length %> caracteres</em>
            <% end %>
          </div>

          <div class="field">
            <%= f.label :confirmar_contraseña %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
          </div>

          <div class="field">
            <%= f.label :contraseña_actual %> <i>(se requiere la contraseña actual par guardar los cambios)</i><br />
            <%= f.password_field :current_password, autocomplete: "current-password" %>
          </div>
        </div>

          <div class="col-sm-4">
            <h2>Datos Fiscales</h2>
               <div class="field">
                 <%= f.label :rfc %><br />
                 <%= f.text_field :rfc, autocomplete: "rfc" %>
               </div>

               <div class="field">
                 <%= f.label :razon_social %><br />
                 <%= f.text_field :razon_social, autocomplete: "razon_social" %>
               </div>

               <div class="field">
                 <%= f.label :domicilio_fiscal %><br />
                 <%= f.text_field :domicilio_fiscal, autocomplete: "domicilio_fiscal" %>
               </div>

               <div class="field">
                 <%= f.label :domicilio_fisico %><br />
                 <%= f.text_field :domicilio_fisico, autocomplete: "domicilio_fisico" %>
               </div>

               <div class="field">
                 <%= f.label :sucursal %><br />
                 <%= f.text_field :sucursal, autocomplete: "sucursal" %>
               </div>

               <div class="field">
                 <%= f.label :telefono_oficina %><br />
                 <%= f.text_field :telefono_oficina, autocomplete: "telefono_oficina" %>
               </div>
            </div>

            <div class="col-sm-4">
            <h2>Datos Enlace</h2>
               <div class="field">
                 <%= f.label :nombre_enlace %><br />
                 <%= f.text_field :nombre_enlace, autocomplete: "nombre_enlace" %>
               </div>

              <div class="field">
                <%= f.label :appaterno_enlace %><br />
                <%= f.text_field :appaterno_enlace,  autocomplete: "appaterno_enlace" %>
              </div>

              <div class="field">
                <%= f.label :cargo_enlace %><br />
                <%= f.text_field :cargo_enlace, autocomplete: "cargo_enlace" %>
              </div>

              <div class="field">
                <%= f.label :correo_enlace %><br />
                <%= f.email_field :correo_enlace, autocomplete: "correo_enlace" %>
              </div>

              </div>

             <div class="col-sm-4">
                <div class="actions">
                  <%= f.submit "Enviar", class: "btn btn-primary" %>
                  <%= render "devise/shared/links" %>
                  <%= link_to "Regresar", root_path, class: 'btn btn-info', size: 20 %>
                </div>
          <% end %>
          </div>

          <p><%= button_to "Cancelar Cuenta", registration_path(resource_name),
                 data: { confirm: "¿Confirma Cancelación?" }, method: :delete, class: "btn btn-danger" %></p>
      </div>
    </div>
  </div>


