<div class="container-fluid-crud">
  <h2><%= image_tag "manzana.jpg", width: 100 %> Actualizar Registro Usuarios</h2>
  
     <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
     <% if resource.errors.any? %>
        <% resource.errors.full_messages.each do |message| %>
          <%= js add_gritter(message, title: "Aviso", sticky: false) %>
        <% end %>
    <% end %>
     <div class="row">
        <div class="col-sm-4 form-group">
          <h2>Datos Usuario</h2>

          <div class="field">
             <%= f.label :nombre_usuario %><br />
             <%= f.text_field :nombre, autofocus: true, class: "form-control" %>
          </div>

          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, class: "form-control" %>
          </div>


          <div class="field">
            <%= f.label 'Nueva Contraseña' %> &nbsp;<br />
            <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
          </div>

          <div class="field">
            <%= f.label :confirmar_contraseña %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
            <% if @minimum_password_length %>
              <em>mínimo <%= @minimum_password_length %> caracteres</em>
            <% end %>
          </div>

          <div class="field">
            <%= f.label :contraseña_actual %>&nbsp; <br />
            <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
          </div>

           <br>
                <div class="actions">
                  <%= f.submit "Enviar", class: "btn btn-primary" %>
                  <%= link_to "Cancelar", root_path, class: 'btn btn-info', size: 20 %>
                </div>
          <% end %>
          </div>
        </div>
          
      </div>
    </div>
  </div>


