<div id="body-cert">

  <h1>Preguntas</h1>
  
  <% if logged_in?(:cert_site_admin) %>
    <%= link_to 'Hacer Una Pregunta', new_preguntas_cert_path, class: "btn btn-default btn-lg" %>
    <% @preguntas_certs.each do |preguntas_cert| %>
        <h2><strong><em><%= preguntas_cert.pregunta %></em></strong></h2>
        <h4><%= preguntas_cert.respuesta.html_safe %></h4>
        <%= link_to 'Modificar', edit_preguntas_cert_path(preguntas_cert) %>
         <%= link_to 'Eliminar', preguntas_cert, method: :delete, data: { confirm: '¿Confirma eliminar registro?' }  %></p>
    <% end %>
  <% else %>
    <% @preguntas_certs_contestadas.each do |preguntas_cert| %>
        <h2><strong><em><%= preguntas_cert.pregunta %></em></strong></h2>
        <h4><%= preguntas_cert.respuesta.html_safe %></h4>
    <% end %>
  <% end %>
<br>
</div>
 