<%= form_with(model: reconocimiento_rede, local: true) do |form| %>
  <% if reconocimiento_rede.errors.any? %>
      <% reconocimiento_rede.errors.full_messages.each do |message| %>
        <%= js add_gritter(message, title: "Aviso", sticky: false) %>
      <% end %>
  <% end %>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre %>
  </div>

  <div class="field">
    <%= form.label :'descripción' %>
    <%= form.text_area :descripcion %>
  </div>

   
  <div class="actions">
    <%= form.submit "Guardar Registro" %>
  </div>
<% end %>
