<p id="notice"><%= notice %></p>

<h1>Reconocimiento Redes</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>Acercades</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reconocimiento_redes.each do |reconocimiento_rede| %>
      <tr>
        <td><%= reconocimiento_rede.nombre %></td>
        <td><%= reconocimiento_rede.descripcion %></td>
        <td><%= reconocimiento_rede.acercades %></td>
        <td><%= link_to 'Show', reconocimiento_rede %></td>
        <td><%= link_to 'Edit', edit_reconocimiento_rede_path(reconocimiento_rede) %></td>
        <td><%= link_to 'Destroy', reconocimiento_rede, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reconocimiento Rede', new_reconocimiento_rede_path %>
