<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @reconocimiento_rede.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @reconocimiento_rede.descripcion %>
</p>

<%= link_to 'Editar', edit_reconocimiento_rede_path(@reconocimiento_rede) %> |
<%= link_to 'Regresar', reconocimiento_redes_path %>
