<div class="container-fluid-crud">
	<div class="fotos-contacto">
		<div class="col-md-4 foto-uno"> <%= image_tag "https://via.placeholder.com/350x250" %> </div>
		<div class="col-md-4 foto-dos"> <%= image_tag "https://via.placeholder.com/350x250" %> </div>
		<div class="col-md-4 foto-tres"> <%= image_tag "https://via.placeholder.com/350x250" %> </div>
		<div class="col-md-4 foto-cuatro"> <%= image_tag "https://via.placeholder.com/350x250" %> </div>
	</div>
	
	<div class="logo-contacto-inicial">
		<%= image_tag "redes.jpg",  class: "logo-inicial"  %>
	</div>

	<div class="row">
		<div class="col-md-6 info-contacto">
			<p>¿Tienes alguna duda?</p>
			<p>¿Quieres ser socio de la Red de Escuelas Seguras?</p>
			<p>¿Quieres participar en nuestro próximo Congreso?</p>
			<p>Contáctanos y en breve recibiras asistencia</p>
		</div>
		<div class="col-md-6 info-contacto">
			<p>442 488 88 88</p>
			<p>442 399 99 99</p>
			<p>www.redes.redes.com</p>
			<p>facebook redes</p>
		</div>
	</div>

</div>
