<div class="container-fluid">
  <div class="col-md-4">
     <h1>Sitio Socios</h1>
  </div>
  <div class="col-md-8">
     <%= image_tag "redes.jpg", width: 400 %>
  </div><hr>
</div>
<p>
  <div class="container-fluid-crud">
   <div class="row">
     <h2><%= link_to "EVENTOS", evento_path(@eventos.id) %></h2>
    <div class="card">   
        <div class="card-block">
          <div class="col-sm-6">
           <h3 class="card-title"><%= @eventos.titulo %></h3>
           <p class="card-text"><%= @eventos.detalle %></p>
           <p class="card-text"><%= @eventos.expositor %></p>
           <p class="card-text"><%= @eventos.lugar %></p>
         </div>
         <div class="col-sm-6">
          <p><%= image_tag @eventos.imagen %></p>
         </div>
       </div>
     </div>
   </div>

   <div class="row">
     <h2><%= link_to "NOTICIAS", aviso_path(@avisos.id) %></h2>
       <div class="card">
         <div class="card-block">
          <div class="col-sm-6">
            <h3 h3 class="card-title"><%= @avisos.titulo %></h3>
            <p><%= @avisos.detalle %></p>
            <p><%= @avisos.fecha %></p>
          </div>
          <div class="col-sm-6">
            <p><%= image_tag @avisos.imagen %></p>         
          </div>
         </div>
       </div>
     </div>
   </div>
</div>
