<div class="container-fluid-crud">
  
   <h1 class="socios-sombra">Socios</h1>
  </div>
  <div class="col-md-6">
  <!--   <%= image_tag  "redes.jpg", width: 400 %> -->
    <h3>¿Porqué hacerse socio?</h3>
    <p><%= @about.porque_socio %></p>
  </div>
  <div class="col-md-6">
    <h3>Acceso a Socios</h3>
    <div class="container-fluid-crud">
      <p><%= image_tag "manzana_pequena.jpg", width: 14 %> <span>base de conocimiento</span></p>
      <p><%= image_tag "manzana_pequena.jpg", width: 14 %> <span>información estratégica</span></p>
      <p><%= image_tag "manzana_pequena.jpg", width: 14 %> <span>herramientas y materiales</span></p>
      <p><%= image_tag "manzana_pequena.jpg", width: 14 %> <span>conferencia mensual</span></p>
      <p><%= image_tag "manzana_pequena.jpg", width: 14 %> <span>material de difusión</span></p>
      <p><%= image_tag "manzana_pequena.jpg", width: 14 %> <span>calendario de capacitación</span></p>
      <p><%= image_tag "manzana_pequena.jpg", width: 14 %> <span>boletín mensual</span></p>
    </div>
  </div>

  <%= render "shared/application_precios" %>
  

  <div class="container-fluid-crud">
   <div class="row">
     
     
   </div>

   <div class="row">
     
       
    </div>
  </div>
</div>
 
