<%= form_with(model: estandar_etapa_certificacion, local: true) do |form| %>
  <% if estandar_etapa_certificacion.errors.any? %>
      <% estandar_etapa_certificacion.errors.full_messages.each do |message| %>
      <%= js add_gritter(message, title: "Aviso", sticky: false) %>
      <% end %>
  <% end %>

  <div class="field">
    <%= form.label :'etapa_certificacion' %>
    <%= form.collection_select :etapa_certificacion_id, EtapaCertificacion.order(:id), :id, :nombre, include_blank: true %>
  </div>

  <div class="field">
    <%= form.label :"paso" %>
    <%= form.text_field :estandar_id %>
  </div>  

  <div class="field">
    <%= form.label :titulo %>
    <%= form.text_area :titulo, cols: 60, rows: 4 %>
  </div>

  <div class="field">
    <%= form.label :descripcion %>
    <%= form.text_area :descripcion, cols: 60, rows: 5 %>
  </div><br>

  <div class="field">
    <%= form.label :evidencias %>
    <%= form.trix_editor :evidencias, cols: 60, rows: 5 %>
  </div><br>

  <div class="field">
    <%= form.label :detalle_puntaje %>
    <%= form.trix_editor :puntaje, cols: 60, rows: 5 %>
  </div><br>

  <div class="field">
    <%= form.label :puntaje_total %>
    <%= form.text_field :puntaje_total %>
  </div>

  <div class="field">
    <%= form.label :observaciones %>
    <%= form.text_area :observaciones, cols: 60, rows: 5 %>
  </div>

  <div class="btn btn-default btn-lg">
    <%= form.label :apoyo %>
    <%= form.file_field :apoyo, multiple: true %>
  </div>

  <div class="btn btn-default btn-lg">
    <%= form.label :obligatorio %>
    <%= form.file_field :obligatorio, multiple: true %>
  </div>

  <div class="actions">
    <%= form.submit "Guardar Registro" %>
  </div>
<% end %>

