<div class="container-crud">
<p id="notice"><%= notice %></p><br>

<h1>Estandares por Etapa de Certificación</h1>
<p><%= link_to 'Agregar Estandar', new_estandar_etapa_certificacion_path, class: "btn btn-default btn-lg"   %></p>

<table class="table">
  <thead>
    <tr>
      <th>Estandar</th>
      <th>Etapa</th>
      <th>Titulo</th>
      <th>Descripcion</th>
      <th>Puntaje Total</th>
      <th colspan="3">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @estandar_etapa_certificacions.each do |estandar_etapa_certificacion| %>
      <tr>
        <td><%= estandar_etapa_certificacion.id %></td>
        <td><%= estandar_etapa_certificacion.etapa_certificacion_id %></td>
        <td><%= estandar_etapa_certificacion.titulo %></td>
        <td><%= estandar_etapa_certificacion.descripcion %></td>
        <td><%= estandar_etapa_certificacion.puntaje_total %></td>
        <td><%= link_to 'Detalle', estandar_etapa_certificacion %></td>
        <td><%= link_to 'Modificar', edit_estandar_etapa_certificacion_path(estandar_etapa_certificacion) %></td>
        <td><%= link_to 'Eliminar', estandar_etapa_certificacion, method: :delete, data: { confirm: '¿Confirma Eliminar el Registro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div>