<%= render "shared/certificate_sidebar" %>
<div id="body-cert">

<p>
  <strong>Paso ID:</strong>
  <%= @estandar_etapa_certificacion.id %>
</p>

<p>
  <strong>Etapa:</strong>
  <%= @estandar_etapa_certificacion.etapa_certificacion_id %>
</p>

<p>
  <strong>Titulo:</strong>
  <%= @estandar_etapa_certificacion.titulo %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @estandar_etapa_certificacion.descripcion %>
</p>

<p>
  <strong>Puntaje:</strong>
  <%= @estandar_etapa_certificacion.puntaje.html_safe %>
</p>

<p>
  <strong>Puntaje:</strong>
  <%= @estandar_etapa_certificacion.puntaje_total %>
</p>

<p>
  <strong>Observaciones:</strong>
  <%= @estandar_etapa_certificacion.observaciones %>
</p>

<p>
  <strong>Evidencias:</strong>
  <%= @estandar_etapa_certificacion.evidencias.html_safe %>
</p>

<p>
  <strong>Apoyo:</strong> <br/>
  <% if @estandar_etapa_certificacion.apoyo.attached? %>
    <% @estandar_etapa_certificacion.apoyo.each do |apoyo| %>
      <%= link_to apoyo.filename, apoyo, target: '_blank' %> <br/>
    <% end %>
  <% else %>
    <p>no uploads</p>
  <% end %>
</p>

<p>
  <strong>Obligatorio:</strong> <br/>
  <% if @estandar_etapa_certificacion.obligatorio.attached? %>
    <% @estandar_etapa_certificacion.obligatorio.each do |obligatorio| %>
      <%= link_to obligatorio.filename, obligatorio, target: '_blank' %> <br/>
    <% end %>
  <% else %>
    <p>no uploads</p>
  <% end %>
</p>

<p>
  <%= link_to 'Modificar', edit_estandar_etapa_certificacion_path(@estandar_etapa_certificacion) if logged_in?(:site_admin) %> |
  <%= link_to 'Regresar', estandar_etapa_certificacions_path %>
</p>
</div>
