<%= render "shared/certificate_sidebar" %>
<div class="main">

<p>
  <strong>estandar ID:</strong>
  <%= @estandar_etapa_certificacion.estandar_id %>
</p>

<p>
  <strong>Titulo:</strong>
  <%= @estandar_etapa_certificacion.etapa_certificacion_id %>
</p>

<p>
  <strong>Titulo:</strong>
  <%= @estandar_etapa_certificacion.titulo %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @estandar_etapa_certificacion.descripcion %>
</p>

<p>
  <strong>Puntaje:</strong>
  <%= @estandar_etapa_certificacion.puntaje.html_safe %>
</p>

<p>
  <strong>Puntaje:</strong>
  <%= @estandar_etapa_certificacion.puntaje_total %>
</p>

<p>
  <strong>Observaciones:</strong>
  <%= @estandar_etapa_certificacion.observaciones %>
</p>

<p>
  <strong>Evidencias:</strong>
  <%= @estandar_etapa_certificacion.evidencias.html_safe %>
</p>

<p>
  <%= link_to 'Modificar', edit_estandar_etapa_certificacion_path(@estandar_etapa_certificacion) if logged_in?(:certificador, :admin) %> |
  <%= link_to 'Regresar', estandar_etapa_certificacions_path %>
</p>
</div>
