<div class="nested-fields">
	<div class="row">
		<p><%= f.label :"Paso Certificación" %>
		<%= f.text_field :estandar_id, size: 10  %>
		<%= f.label :"Estandar ID" %>
		<%= f.text_field :estandar_id, size: 10  %></p>
	</div>
	<div class="row">
		<p><%= f.label :"Título" %></p>
    	<p><%= f.text_area :titulo, cols:100 %></p>
    </div>
    <div class="row">
    	<p><%= f.label :descripcion %></p>
    	<p><%= f.text_area :descripcion, cols:100, rows: 5 %></p>
    </div> 
    <div class="row">
    	<p><%= f.label :observaciones %></p>
    	<p><%= f.text_area :observaciones, cols:100, rows: 5 %></p>
    </div>

    <div class="row">
    	<p><%= f.label :detalle_para_alcanzar_el_puntaje %></p>
    	<p><%= f.text_area :puntaje, cols:100, rows: 5 %></p>
    </div>

    <div class="row">
    	<p><%= f.label :evidencias %></p>
    	<p><%= f.text_area :evidencias, cols:100, rows: 5 %></p>
    </div>

    <div class="row">
    	<p><%= f.label :puntaje_total %></p>
    	<p><%= f.text_area :puntaje_total, cols:100, rows: 5 %></p>
    </div>

</div>
