<span class="nested-fields">
    <div class="row">
	<%= f.text_field :estandar_id, placeholder: 'num. estandar' %>
    <%= f.text_field :titulo, placeholder: 'Tìtulo' %>
    <%= f.text_field :descripcion, placeholder: 'Descripción' %>
    <%= f.text_field :observaciones, placeholder: 'Observaciones' %>
    <%= f.text_field :evidencias, placeholder: 'Evidencias' %>
    <%= f.text_field :puntaje_total, placeholder: 'Puntaje Total' %>
    <%= f.file_field :apoyo, multiple: true %>
    <%= f.file_field :obligatorio, multiple: true %>
    <%= link_to_remove_association "Eliminar Estandar", f, class: "btn btn-danger btn-sm" %>
         
    <%= f.fields_for :puntos_estandars do |puntos| %>
        <%= render 'puntos_estandar_fields', f: puntos %>
    <% end %>
     <%= link_to_add_association "Agregar Puntos", f, :puntos_estandars, class: "btn btn-warning btn-sm" %>
 </div>
</span>