<%= form_with(model: etapa_certificacion, local: true) do |form| %>
  <% if etapa_certificacion.errors.any? %>
      <% etapa_certificacion.errors.full_messages.each do |message| %>
        <%= js add_gritter(message, title: "Aviso", sticky: false) %>
      <% end %>
  <% end %>

  <div class="actions">
    <%= form.submit "Guardar Registro", class: "btn btn-primary btn-lg" %>
    <%= link_to "Regresar a Proceso", etapa_certificacions_path, class: "btn btn-success btn-lg" %>
  </div>

   <div class="row">
        <div class="col-md-2"><%= form.text_field :num_etapa, placeholder: 'Num. Paso' %></div>
        <div class="col-md-5"><%= form.text_area :nombre, cols: 50, placeholder: 'Nombre o Título' %></div>  
        <div class="col-md-5"><%= form.text_area :descripcion, cols: 50, placeholder: 'Descripción' %></div> 
       </div>
          <%= form.fields_for :estandar_etapa_certificacions do |estandar| %>
            <%= render 'estandar_etapa_certificacion_fields', f: estandar %>
          <% end %>
      
       
   <div><%= link_to_add_association "Agregar estandar", form, :estandar_etapa_certificacions, class: "btn btn-warning btn-sm" %></div>
 
 

<% end %>



