<%= form_with(model: etapa_certificacion, local: true) do |form| %>
  <% if etapa_certificacion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(etapa_certificacion.errors.count, "error") %> prohibited this etapa_certificacion from being saved:</h2>

      <ul>
      <% etapa_certificacion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_area :nombre %>
  </div>

  <div class="field">
    <%= form.label :descripcion %>
    <%= form.text_area :descripcion %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
