<%= form_with(model: etapa_certificacion, local: true) do |form| %>
  <% if etapa_certificacion.errors.any? %>
      <% etapa_certificacion.errors.full_messages.each do |message| %>
        <%= js add_gritter(message, title: "Aviso", sticky: false) %>
      <% end %>
  <% end %>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_area :nombre, cols: 100 %>
  </div>

  <div class="field">
    <%= form.label :descripcion %>
    <%= form.text_area :descripcion, cols: 100, rows: 5 %>
  </div>

  <div class="col-md-12">
    <h2>Estandares</h2>

  <div class="actions">
    <%= form.submit "Guardar Registro " %>
  </div>
<% end %>

