<span class="nested-fields">
  <div class="row">
   <%= f.text_field :paso, placeholder: 'paso' %>
	 <%= f.text_field :estandar, placeholder: 'estandar' %>
   <%= f.text_field :puntos, placeholder: 'puntos' %>
   <%= f.text_field :descripcion, placeholder: 'descripción' %>
   <%= link_to_remove_association "Eliminar Puntos", f, class: 'btn alert-danger btn-sm' %>
 </div>
</span>
 