<div id="body-cert">

<h1>Pasos para Alcanzar la Certificación</h1>
<p><%= link_to 'Agregar Paso para Certificacion', new_etapa_certificacion_path, class: "btn btn-default btn-lg" if logged_in?(:cert_site_admin)  %>

<table class="table">
  <thead>
    <tr>
      <th>Paso</th>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Total Estandares</th>
      <th>Total Puntos</th>
      <th colspan="4">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @etapa_certificacions.each do |etapa_certificacion| %>
      <tr>
        <td><%= etapa_certificacion.num_etapa %></td>
        <td class="columna-media"><%= etapa_certificacion.nombre %></td>
        <td class="columna-ancha"><%= etapa_certificacion.descripcion %></td>
        <td><%= etapa_certificacion.estandar_etapa_certificacions.count %></td>
         <td><%= etapa_certificacion.total_puntos(etapa_certificacion.num_etapa)  %></td>
        <td><%= link_to 'Estandares', etapa_certificacion %></td> 
        <td><%= link_to 'Eliminar', etapa_certificacion, method: :delete, data: { confirm: '¿Confirma eliminar el registro?' } if logged_in?(:cert_site_admin) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>