<%= render 'shared/certificate_sidebar' %>
<div class="main">

<h1>Etapas para Alcanzar la Certificación</h1>
<p><%= link_to 'Agregar Etapa Certificacion', new_etapa_certificacion_path, class: "btn btn-default btn-lg" if logged_in?(:certificador, :admin)  %></p>


<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th colspan="3">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @etapa_certificacions.each do |etapa_certificacion| %>
      <tr>
        <td><%= etapa_certificacion.nombre %></td>
        <td class="columna-ancha"><%= etapa_certificacion.descripcion %></td>
        <td><%= link_to 'Detalle', etapa_certificacion %></td>
        <td><%= link_to 'Modificar', edit_etapa_certificacion_path(etapa_certificacion) if logged_in?(:certificador, :admin) %></td>
        <td><%= link_to 'Estandares', estandar_etapa_certificacions_path %></td>
        <td><%= link_to 'Eliminar', etapa_certificacion, method: :delete, data: { confirm: '¿Confirma eliminar el registro?' } if logged_in?(:certificador, :admin) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>



</div>