<div id="body-cert">
	<p>
	  <h3>Paso: <%= @etapa_certificacion.id %>&nbsp;<%= @etapa_certificacion.nombre %></h3>
	</p>
	<p>
		<em><%= @etapa_certificacion.descripcion %></em>
	</p>
	<h3> Estandares </h3>

	<table class="table">
		<thead>
    		<tr>
    			<th>ID</th>
      			<th>Nombre</th>
      			<th>Descripcion</th>
      			<th>Evidencias</th>
      			<th>Puntaje Total</th>
      			<th colspan="3">Acciones</th>
    		</tr>
  		</thead>
		
		<tbody>
		<% @etapa_certificacion.estandar_etapa_certificacions.each do |estandar| %>
			<tr>
				<td><%= estandar.estandar_id %></td>
				<td><%= estandar.titulo %></td>
				<td><%= estandar.descripcion %></td> 
				<td><%= estandar.evidencias.html_safe %></td>
				<td><%= estandar.puntaje_total %></td>
				<td><%= link_to 'Detalle', estandar %></td>
        <td><%= link_to 'Modificar', edit_estandar_etapa_certificacion_path(estandar) if logged_in?(:cert_site_admin) %></td>
        <td><%= link_to 'Eliminar', estandar, method: :delete, data: { confirm: '¿Confirma Eliminar el Registro?' } if logged_in?(:cert_site_admin) %></td>
				</tr>
		<% end %>
		</tbody>
	</table>
	<% if logged_in?(:cert_site_admin) %>
		<p><%= link_to 'Modificar', edit_etapa_certificacion_path(@etapa_certificacion), class: "btn btn-info btn-lg" %></p> 
	<% end %>
	<p><%= link_to 'Regresar', etapa_certificacions_path, class: "btn btn-warning btn-lg" %></p>
</div>
