<div class="nested-fields">
	<div class="row">
		<p><%= f.label :"Nombre" %>
		<%= f.text_field :nombre, size: 10  %>
		<%= f.label :"Usuario" %>
		<%= f.text_field :user_id, size: 10  %></p>
	</div>
	<div class="row">
		<p><%= f.label :"Certificador" %></p>
    	<p><%= f.text_field :certificador_id, cols:100 %></p>
    </div>

</div>