<%= form_with(model: certificador, local: true) do |form| %>
  <% if certificador.errors.any? %>
      <% certificador.errors.full_messages.each do |message| %>
        <%= js add_gritter(message, title: "Aviso", sticky: false) %>
      <% end %>
  <% end %>

<div class="container-fluid-crud form-group">
  <div class="row">
    <div class="col-md-2">
      Certificador
    </div>
    <div class="col-md-10">
       <%= collection_select(:nombre, :id, User.where(roles: "certificador"), :id, :nombre ) %>
    </div>
  </div><br>



  <h2>Escuelas Asignadas</h2>

  <div class="row">
    <div class="col-md-6">
      Razon Social
    </div>
    <div class="col-md-3">
      Certificador
    </div>
    <div class="col-md-3">
      Acciones
    </div>
  </div>
    
    <div>
      <%= form.fields_for :escuelas do |escuela| %>
      <%= render 'escuela_fields', f: escuela %>
      <% end %>
    </div><br>
    <p>
    <div>
    <%= link_to_add_association 'Agregar Escuela', form, :escuelas, class: "btn btn-success btn-lg" %>
  </div></p>
     
  <div class="actions">
    <%= form.submit "Guardar Registro", class: "btn btn-primary btn-lg" %>
  </div>
<% end %>