<%= form_with(model: certificador, local: true) do |form| %>
  <% if certificador.errors.any? %>
      <% certificador.errors.full_messages.each do |message| %>
        <%= js add_gritter(message, title: "Aviso", sticky: false) %>
      <% end %>
  <% end %>

<div class="form-group">
  <div class="row">
      <div class="col-md-4">
        <label>Nombre</label>
        <%= form.text_field :nombre, class: "form-control" %>

        <label>Apellido Paterno</label>
        <%= form.text_field :appaterno, class: "form-control" %>

        <label>Especialidad</label>
        <%= form.text_field :especialidad, class: "form-control" %>

        <label>Correo</label>
        <%= form.email_field :email, class: "form-control" %>

        <label>Teléfono</label>
        <%= form.text_field :telefono, class: "form-control" %>

        <label>Domicilio</label>
        <%= form.text_field :domicilio, class: "form-control" %>
      </div>
    </div>

     <br>
    <div class="actions">
      <%= form.submit "Guardar Registro", class: "btn btn-primary btn-lg" %>
    </div>

  </div>
<% end %>