
<div id="body-cert">
	<h1>Catálogo de Certificadores</h1>
<p><%= link_to 'Agregar certificador', new_certificador_path, class: "btn btn-default btn-lg" %></p>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>USER ID</th>
      
      <th colspan="3">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% if @certificadores.empty? %>
  <h1 id="no-certificadores">No Existend Certificadores</h1>
 <% else %>
    <% @certificadores.each do |certificador| %>
      <tr>
        <td><%= certificador.id %></td>
        <td><%= certificador.user_id %></td>
         
        
        <td><%= link_to 'Mostrar', certificador_path(certificador) %></td>
        <td><%= link_to 'Modificar', edit_certificador_path(certificador) %></td>
        <td><%= link_to 'Eliminar', certificador, method: :delete, data: { confirm: '¿Confirma eliminar el registro?' } %></td>
      </tr>
    <% end %>
  </tbody>
  <% end %>
</table>

<br>
</div>
</div>