<%= render 'shared/certificate_sidebar' %>
<div id="body-cert">
	<h1>Catálogo de Certificadores</h1>
<p><%= link_to 'Agregar certificador', new_certificador_path, class: "btn btn-default btn-lg" %></p>

<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Teléfono</th>
      <th>Correo</th>
      <th colspan="3">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @certificadores.each do |certificador| %>
      <tr>
        <td><%= certificador.nombre %></td>
        <td><%= certificador.telefono %></td>
        <td><%= certificador.correo %></td>
        
        <td><%= link_to 'Mostrar', certificador_path(certificador) %></td>
        <td><%= link_to 'Modificar', edit_certificador_path(certificador) %></td>
        <td><%= link_to 'Eliminar', certificador, method: :delete, data: { confirm: '¿Confirma eliminar el registro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>
</div>