
<div id="body-cert">
	<p>
	  <h3><%= @certificador.nombre %></h3>
	</p>
	 
	<br>
	<h3> Datos Certificador</h3>

	<table class="table">
		<thead>
    		<tr>
      			<th>Nombre</th>
      			<th>Departamento</th>
      			<th>Especialidad</th>
    		</tr>
  		</thead>
		
		<tbody>
		 <tr>
		 	<td><%= @certificador.nombre.to_s + " " + @certificador.appaterno.to_s %></td>
		 	<td><%= @certificador.especialidad %></td>
		 	<td><%= @certificador.email %></td>
		 	<td><%= @certificador.telefono %></td>

		 </tr>
		</tbody>
	</table>

	<h4>Escuelas asignadas</h4>
	
	<p class="btn btn-info btn-lg"><%= link_to 'Modificar', edit_certificador_path(@certificador)  %></p> 
	<p class="btn btn-warning btn-lg"><%= link_to 'Regresar', certificadors_path %></p>
</div>