<p id="notice"><%= notice %></p>

<p>
  <strong>Tit titulo 1:</strong>
  <%= @acercade_certificate.tit_titulo_1 %>
</p>

<p>
  <strong>Tit titulo 2:</strong>
  <%= @acercade_certificate.tit_titulo_2 %>
</p>

<p>
  <strong>Tit titulo 3:</strong>
  <%= @acercade_certificate.tit_titulo_3 %>
</p>

<p>
  <strong>Tit titulo 4:</strong>
  <%= @acercade_certificate.tit_titulo_4 %>
</p>

<p>
  <strong>Tit titulo 5:</strong>
  <%= @acercade_certificate.tit_titulo_5 %>
</p>

<p>
  <strong>Tit titulo 6:</strong>
  <%= @acercade_certificate.tit_titulo_6 %>
</p>

<p>
  <strong>Tit titulo 7:</strong>
  <%= @acercade_certificate.tit_titulo_7 %>
</p>

<p>
  <strong>Tit titulo 8:</strong>
  <%= @acercade_certificate.tit_titulo_8 %>
</p>

<p>
  <strong>Tit titulo 9:</strong>
  <%= @acercade_certificate.tit_titulo_9 %>
</p>

<p>
  <strong>Tit titulo 10:</strong>
  <%= @acercade_certificate.tit_titulo_10 %>
</p>

<p>
  <strong>Desc titulo 1:</strong>
  <%= @acercade_certificate.desc_titulo_1 %>
</p>

<p>
  <strong>Desc titulo 2:</strong>
  <%= @acercade_certificate.desc_titulo_2 %>
</p>

<p>
  <strong>Desc titulo 3:</strong>
  <%= @acercade_certificate.desc_titulo_3 %>
</p>

<p>
  <strong>Desc titulo 4:</strong>
  <%= @acercade_certificate.desc_titulo_4 %>
</p>

<p>
  <strong>Desc titulo 5:</strong>
  <%= @acercade_certificate.desc_titulo_5 %>
</p>

<p>
  <strong>Desc titulo 6:</strong>
  <%= @acercade_certificate.desc_titulo_6 %>
</p>

<p>
  <strong>Desc titulo 7:</strong>
  <%= @acercade_certificate.desc_titulo_7 %>
</p>

<p>
  <strong>Desc titulo 8:</strong>
  <%= @acercade_certificate.desc_titulo_8 %>
</p>

<p>
  <strong>Desc titulo 9:</strong>
  <%= @acercade_certificate.desc_titulo_9 %>
</p>

<p>
  <strong>Desc titulo 10:</strong>
  <%= @acercade_certificate.desc_titulo_10 %>
</p>

<p>
  <strong>Imagen encabezado:</strong>
  <%= @acercade_certificate.imagen_encabezado %>
</p>

<%= link_to 'Edit', edit_acercade_certificate_path(@acercade_certificate) %> |
<%= link_to 'Back', acercade_certificates_path %>
