<%= form_with(model: aviso, local: true) do |form| %>
  <% if aviso.errors.any? %>
      <% aviso.errors.full_messages.each do |message| %>
         <%= js add_gritter(message, title: "Aviso", sticky: false) %>
      <% end %>
  <% end %>

  <div class="field">
    <%= form.label :"título" %>
    <%= form.text_field :titulo, size: 60 %>
  </div>

  <div class="field">
    <%= form.label :"descripción" %>
    <%= form.text_area :detalle, rows: 20, cols: 60 %>
  </div>

<!--  <div class="field">
    <%= form.label :fecha %>
       <div class="row">
          <div class='col-sm-6'>
              <%= form.datetime_field :fecha, type:"text", id: "datetimepicker4", class: "form-control"  %>
          </div>
          <script type="text/javascript">
                $(function () {
                    $('#datetimepicker4').datetimepicker();
                    locale: 'es'

                });
          </script>
        </div>
  </div> -->

  <div class="field">
    <%= form.label :"imágen" %>
    <%= form.text_field :imagen, size: 60 %>
  </div>

  <div class="actions">
    <%= form.submit "Guardar" %>
  </div>

<% end %>
