<%= form_with(model: aviso, local: true) do |form| %>
  <% if aviso.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(aviso.errors.count, "error") %> prohibited this aviso from being saved:</h2>

      <ul>
      <% aviso.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :titulo %>
    <%= form.text_field :titulo %>
  </div>

  <div class="field">
    <%= form.label :detalle %>
    <%= form.text_area :detalle %>
  </div>

  <div class="field">
    <%= form.label :fecha %>
    <%= form.datetime_select :fecha %>
  </div>

  <div class="field">
    <%= form.label :imagen %>
    <%= form.text_field :imagen %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
