 
<h1>Avisos</h1>

<% if logged_in?(:cert_site_admin, :certificador) %>
  <%= link_to new_aviso_path, class: "btn btn-primary" do %>
			<span class="fa-1x"><%= fa_icon "plus" %></span>
				Agregar Aviso
  <% end %>
<% end %>

<% if @avisos.blank? %>
<% flash[:notice] = "No existen avisos" %>
<% else %>
<table class="tabla-avisos">
  <thead>
    <tr>
      <th>Título</th>
      <th>Circular</th>
      <% if logged_in?(:cert_site_admin, :certificador) %>
        <th colspan='2'>Acciones</th>
        <% end %>
    </tr>
  </thead>
  <tbody>
  <% @avisos.each do |aviso| %>
    <tr>
      <td class="aviso-titulo-archivo"><%= aviso.titulo %></td>
         <% if aviso.archivo.attached? %>
            <td><span class="fa-2x"><%= fa_icon "file-pdf-o", style: "color: #ED1C24" %></span>&nbsp;<%= link_to aviso.archivo.filename, aviso.archivo, target: '_blank'%></td>
            
              
             
         <% end %>
          
          
         <% if logged_in?(:cert_site_admin, :certificador) %>
            <td><%= link_to edit_aviso_path(aviso), class: "btn btn-primary"  do %>
			        <span class="fa-1x"><%= fa_icon "pencil" %></span>
            <% end %>
             
            <%= link_to aviso, method: :delete, data:{ confirm: '¿Confirma eliminar el registro?'}, class: "btn btn-danger"  do %>
						<span class="fa-1x"><%= fa_icon "minus" %></span></td>
					<% end %>


         <% end %>
    </tr>
  <% end %>
  </tbody>
</table>
<% end %>
 
 