<div class="container-fluid">
<h1>blog</h1>
<br>
<p><%= link_to 'Nueva Entrada', new_aviso_path, class: "btn btn-default btn-lg" %></p>
<br>
<% @avisos.each do |aviso| %>
  <div class="row">
    <div class="card">
      <div class="col-md-6">
         <strong><%= aviso.titulo %></strong>
         <p><%= link_to 'Mostrar', aviso %> |
         <%= link_to 'Modificar', edit_aviso_path(aviso) %> |
         <%= link_to 'Eliminar', aviso, method: :delete, data: { confirm: '¿Confirma eliminar el Registro?' } %></p>
         <h6><%= aviso.updated_at.strftime("%d/%m/%Y %H:%M:%S") %></h6>
         
         <p><%= aviso.detalle %></p>
      </div>
      <div class="col-md-6">
        <%= image_tag aviso.imagen %>
      </div>

    </div>
  </div>
  <br>
<% end %>
</div>
