<div class="container-fluid-crud">

     <p>
       <h3><%= @aviso.titulo %></h3>
     </p>
     <p>
       <%= link_to 'Modificar', edit_aviso_path(@aviso), class: "btn btn-success btn-lg", size: 50 if logged_in?(:site_admin) %>
     <%= link_to 'Regresar a Blog', avisos_path, class: "btn btn-default btn-lg", size: 50 %>
     </p>
     
     <p>
       <strong>Detalle:</strong>
       <%= @aviso.detalle.html_safe %>
     </p>
     
     <p>
       <strong>Ultima Actualización:</strong>
       <%= @aviso.updated_at.strftime("%d/%m/%Y %H:%M:%S") %>
     </p>
     
     <p>
      <%= image_tag(@aviso.foto, width: 200) if @aviso.foto.attached? %> 
     </p>

      
      
  </div>