<% if current_user %>
   <%= form_with(model: acercade, local: true) do |form| %>
     <% if acercade.errors.any? %> 
         <% acercade.errors.full_messages.each do |message| %>
         <%= js add_gritter(message, title: "Aviso", sticky: false) %>
         <% end %>
     <% end %>

    <div class="actions">
      <%= form.submit "Guardar Cambios", class: "btn btn-default btn-lg" %>
      <%= link_to 'Mostrar', @acercade, class: "btn btn-primary btn-lg"  %> 
      <%= link_to 'Regresar', root_path, class: "btn btn-info btn-lg" %>
    </div>
    
     <div class="row">
      <div class="col-md-9">
        <strong>Título 1</strong>
        <%= form.trix_editor :tit_titulo_1 %>
        <strong>Descripción 1</strong>
        <%= form.trix_editor :desc_titulo_1 %><hr>
        <strong>Título 2</strong>
        <%= form.trix_editor :tit_titulo_2 %>
        <strong>Descripción 2</strong>
        <%= form.trix_editor :desc_titulo_2 %><hr>
        <strong>Título 3</strong>
        <%= form.trix_editor :tit_titulo_3 %>
        <strong>Descripción 3</strong>
        <%= form.trix_editor :desc_titulo_3 %><hr>
        <strong>Título 4</strong>
        <%= form.trix_editor :tit_titulo_4 %>
        <strong>Descripción 4</strong>
        <%= form.trix_editor :desc_titulo_4 %><hr>
        <strong>Título 5</strong>
        <%= form.trix_editor :tit_titulo_5 %>
        <strong>Descripción 5</strong>
        <%= form.trix_editor :desc_titulo_5 %><hr>
        <strong>Título 6</strong>
        <%= form.trix_editor :tit_titulo_6 %>
        <strong>Descripción 6</strong>
        <%= form.trix_editor :desc_titulo_6 %><hr>
        <strong>Título 7</strong>
        <%= form.trix_editor :tit_titulo_7 %>
        <strong>Descripción 7</strong>
        <%= form.trix_editor :desc_titulo_7 %><hr>
        <strong>Título 8</strong>
        <%= form.trix_editor :tit_titulo_8 %>
        <strong>Descripción 8</strong>
        <%= form.trix_editor :desc_titulo_8 %><hr>
        <strong>Título 9</strong>
        <%= form.trix_editor :tit_titulo_9 %>
        <strong>Descripción 9</strong>
        <%= form.trix_editor :desc_titulo_9 %><hr>
        <strong>Título 10</strong>
        <%= form.trix_editor :tit_titulo_10 %>
        <strong>Descripción 10</strong>
        <%= form.trix_editor :desc_titulo_10 %><hr>

        <div class="field">
          <%= form.label :'Imagen Principal' %>
          <%= form.file_field :imagen_inicial %>
        </div>     
    </div> 


    <div class="col-md-3">
      <div class="container-enlarge">
        <p><%= image_tag "tutorial_1.png", width: '75%' %></p>
        <span><%= image_tag "tutorial_1.png", width: '100%' %></span>
      </div>
      <div class="container-enlarge">
        <p><%= image_tag "tutorial_2.png", width: '80% ' %></p>
        <span><%= image_tag "tutorial_2.png", width: '200%' %></span>
      </div>
        <div class="container-enlarge">
        <p><%= image_tag "tutorial_3.png", width: '75% ' %></p>
        <span><%= image_tag "tutorial_3.png", width: '200%' %></span>
      </div>
    </div>
   </div>
  
 

    <div class="actions">
      <%= form.submit "Guardar Cambios", class: "btn btn-default btn-lg" %>
    </div>

   <% end %>
<% end %>
</div>



