<% if current_user %>
   <%= form_with(model: acercade, local: true) do |form| %>
     <% if acercade.errors.any? %>
       <div id="error_explanation">
         <h2><%= pluralize(acercade.errors.count, "error") %> prohibited this acercade from being saved:</h2>
   
         <ul>
         <% acercade.errors.full_messages.each do |message| %>
           <li><%= message %></li>
         <% end %>
         </ul>
       </div>
     <% end %>

     <div class="field">
       <%= form.label :descripción %>
       <%= form.trix_editor :descripcion %>
     </div>
   
     <div class="field">
       <%= form.label :'¿Qué somos?' %>
       <%= form.trix_editor :que_somos %>
     </div>
   
     <div class="field">
       <%= form.label :'¿Qué hacemos?' %>
       <%= form.trix_editor :que_hacemos %>
     </div>

     <div class="field">
       <%= form.label :'¿Qué buscamos?' %>
       <%= form.trix_editor :que_buscamos %>
     </div>
   
     <div class="field">
       <%= form.label :vision %>
       <%= form.trix_editor :vision %>
     </div>

     <div class="field">
       <%= form.label :mision %>
       <%= form.trix_editor :mision %>
     </div>

     <div class="field">
       <%= form.label :valores %>
       <%= form.trix_editor :valores %>
     </div>

     <div class="field">
       <%= form.label :'Nuestro Enfoque' %>
       <%= form.trix_editor :enfoque %>
     </div>

     <div class="field">
       <%= form.label :'importancia' %>
       <%= form.trix_editor :importancia %>
     </div>

     <div class="field">
       <%= form.label :'¿Porque hacerse Socio?' %>
       <%= form.trix_editor :porque_socio %>
     </div>

     <div class="field">
       <%= form.label :'Imagen Principal' %>
       <%= form.file_field :imagen_inicial %>
     </div>

     <div class="field">
       <%= form.label :'imagen nosotros' %>
       <%= form.file_field :imagen_nostros %>
     </div>
   
     <div class="actions">
    <%= form.submit "Guardar" %>
  </div>
   <% end %>
<% end %>


