<% if current_user %>
   <%= form_with(model: acercade, local: true) do |form| %>
     <% if acercade.errors.any? %>
       <div id="error_explanation">
         <h2><%= pluralize(acercade.errors.count, "error") %> prohibited this acercade from being saved:</h2>
   
         <ul>
         <% acercade.errors.full_messages.each do |message| %>
           <li><%= message %></li>
         <% end %>
         </ul>
       </div>
     <% end %>

     <div class="field">
       <%= form.label :descripción %>
       <%= form.text_area :descripcion, rows: 5, cols: 70 %>
     </div>
   
     <div class="field">
       <%= form.label :'¿Qué somos?' %>
       <%= form.text_area :que_somos, rows: 5, cols: 70 %>
     </div>
   
     <div class="field">
       <%= form.label :'¿Qué hacemos' %>
       <%= form.text_area :que_hacemos, rows: 5, cols: 70 %>
     </div>

     <div class="field">
       <%= form.label :'¿Qué buscamos?' %>
       <%= form.text_area :que_buscamos, rows: 5, cols: 70 %>
     </div>
   
     <div class="field">
       <%= form.label :vision %>
       <%= form.text_area :vision, rows: 5, cols: 70 %>
     </div>

     <div class="field">
       <%= form.label :mision %>
       <%= form.text_area :mision, rows: 5, cols: 70 %>
     </div>

     <div class="field">
       <%= form.label :valores %>
       <%= form.text_area :valores, rows: 5, cols: 70 %>
     </div>

     <div class="field">
       <%= form.label :'Nuestro Enfoque' %>
       <%= form.text_area :enfoque, rows: 5, cols: 70 %>
     </div>

     <div class="field">
       <%= form.label :'importancia' %>
       <%= form.text_area :importancia, rows: 5, cols: 70 %>
     </div>

     <div class="field">
       <%= form.label :'¿Porque hacerse Socio?' %>
       <%= form.text_area :porque_socio, rows: 5, cols: 70 %>
     </div>

     <div class="field">
       <%= form.label :'Imagen Principal' %>
       <%= form.file_field :imagen_inicial, rows: 5, cols: 70 %>
     </div>

     <div class="field">
       <%= form.label :'imagen nosotros' %>
       <%= form.file_field :imagen_nostros, rows: 5, cols: 70 %>
     </div>
   
     <div class="actions">
    <%= form.submit "Guardar" %>
  </div>
   <% end %>
<% end %>


