
<div class="info-contacto">
  <h2 class="text-center">CONTACTO</h2>
  <div class="row">
    <div class="col-sm-5">
      <p>¿Tienes alguna duda? </p>
      <p><span>¿Quieres ser socio de la Red de Escuelas Seguras?</span></p>
      <p><span>¿Quieres participar en nuestro próximo Congreso?</span></p>
      <p>Contáctanos y en breve recibirás asistencia.</p>
      <div class="container">
        <p><%= fa_icon "map-marker" %> Querétaro, MX</p>
        <p><%= fa_icon "phone" %> 442 123 7893</p>
        <p><%= fa_icon "envelope" %> info@EscuelasSeguras.red </p>
        <p><a href="https://web.facebook.com/RedEscuelasSeguras/"><%= fa_icon "facebook-square" %> /RedEscuelasSeguras</a></p>
        <p><a href="https://twitter.com/RedEscuelasSeg"><%= fa_icon "twitter", class: "lista-social-links" %> @RedEscuelasSeg</a></p>
        <p><a href="https://www.escuelasseguras.red"><%= fa_icon "apple-alt" %> www.escuelasseguras.red</a></p>
        
         
      </div>
    </div>
    
      <%= form_with(model: @contacto, local: true) do |form| %>
        <% if @contacto.errors.any? %>
          <% @contacto.errors.full_messages.each do |message| %>
            <%= js add_gritter(t(message), title: "Aviso", sticky: false) %>
          <% end %>
        <% end %>
      
      <div class="col-sm-7"> 
        <div class="row">
          <div class="col-sm-6 form-group">
            <%= form.text_field :nombre, class: "form-control", placeholder: "Nombre" %>
        
          </div>
          <div class="col-sm-6 form-group">
             
            <%= form.email_field :correo, class: "form-control", placeholder: "Correo" %>
          </div>
        </div>
        <%= form.text_area :asunto, class: "form-control", placeholder: "Asunto", rows: 1 %><br>        
        <%= form.text_area :comentarios, class: "form-control", placeholder: "Comentarios", rows: 5 %><br>
        <div class="row">
          <div class="col-sm-12 form-group">
            
            <%= form.submit "Enviar Comentario", class: "btn btn-default pull-right" %>
          </div>
        </div>
      
    </div>
    <% end %>
  </div>
</div>



