<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
   <div class="container">
      <div class="col-md-6">
         <p><%= image_tag "acoso.jpg", width: 660, alt: "profile image" %></p> 
         <p><%= image_tag "redes.jpg", width: 200, alt: "profile image" %></p>
      </div>
      <div class="col-md-6 container-inicio">
         <p><%= image_tag "manzana.jpg", width: '10%', alt: "profile image" %></p> 
         <h2>nosotros</h2>
         <span><%= @about.que_somos %></span>
         <p></p>
         <p><%= link_to 'conoce más', acercades_path, class: "btn btn-default btn-lg" %></p>
      </div>
   </div>
</div>

<div class="container">
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <h2>eventos</h2>
      <p><%= @eventos.titulo %></p>
      <p><%= @eventos.detalle %></p>
      <p><%= @eventos.lugar %></p>
      <p><%= @eventos.expositor %></p>
      <p>del: <%= @eventos.fecha_inicio.strftime('%d / %B / %Y') %> al: <%= @eventos.fecha_fin.strftime('%d /%B/%Y') %> </p>
      <p><%= image_tag @eventos.imagen.to_s %></p>

   
      <p><%= link_to 'asiste', eventos_path, class: "btn btn-default btn-lg" %></p>
   </div>
   <div class="col-md-4">
      <h2>blog</h2>
      <p><em><%= @avisos.titulo %></em></p>
      <p><%= @avisos.detalle %></p>
      <p><%= image_tag @avisos.imagen.to_s, width: '100%' %></p>
      <p><%= link_to 'escribe tu blog', avisos_path, class: "btn btn-default btn-lg" %></p>
   </div>

   <div class="col-md-4">
      <h2>socios</h2>
       <div class="col-md-12 socios-materiales">
         <h4>Accede a nuestros materiales:</h4>
            <p><%= image_tag "manzana_pequena.jpg", width: 14 %> <a>boletín mensual</a></p>
            <p><%= image_tag "manzana_pequena.jpg", width: 14 %> <a>banco de información</a></p>
            <p><%= image_tag "manzana_pequena.jpg", width: 14 %> <a>calendario de capacitación</a></p>
            <p><%= image_tag "manzana_pequena.jpg", width: 14 %> <a>material de difusión</a></p>
            <p><%= image_tag "manzana_pequena.jpg", width: 14 %> <a>información estratégica</a></p>
         <p>
            <%= link_to eventos_path do %>
              <%= image_tag "circulo_mas.png", class: "logo-mas" %>
            <% end %>
         </p>
      </div>
      <p>
      <div class="container-fluid bg-light">
         <% if current_user %>
            <p>¡Ingresa a nuestro sitio!</p>
            <p><%= link_to "socios", socios_path, class: "btn btn-default btn-lg" %></p> 
         <% else %>
            <p>¿Aún no cuentas con tu membresía?</p>
            <p><%= link_to "socios", new_user_registration_path, class: "btn btn-default btn-lg" %></p> 
         <% end %>
      </div>
      </p>
   </div>
        
</div>
</div>
</div>




