<nav class="navbar navbar-expand-lg navbar-fixed-top"> 
<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">  -->
  <div class="container">
    <div class="col-md-12 imagen">
      <span style="font-size: 40px; vertical-align: middle;"> crisis </span>
      <span style="font-size: 30px; vertical-align: middle;"> incendio </span>
      <span style="font-size: 50px; vertical-align: middle;"> emergencias </span>
      <span style="font-size: 45px; vertical-align: middle;"> redes sociales </span>
      <span style="font-size: 30px; vertical-align: middle;"> drogas </span>
    </div>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#NavbarPrincipal">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="NavbarPrincipal">
      <ul class="nav navbar-nav navbar-left">
          <% if current_user %>
            <li><%= link_to "salir", destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "afiliate", new_user_registration_path %></li>
          <% end %>
          <li class="manzanita"><%= image_tag "manzana_pequena.jpg", width: 25  %></li>
          <li><%= link_to "inicio", root_path %></li>
          <li><%= link_to "nosotros", acercades_path %></li>
          <li><%= link_to "eventos", eventos_path %></li>
          <% if current_user %>
            <li><%= link_to "socios", socios_path %></li> 
          <% else %>
            <li><%= link_to "socios", new_user_session_path %></li> 
          <% end %>  
          <li><%= link_to "blog", avisos_path %></li>
          <li><%=link_to "contacto", root_path, href: '/#contact' %></li>
          <% if current_user %>
             <li><%= link_to "dashboard", admin_root_path %></li> 
             <li><%= link_to "certificate", '#' %></li>
          <% end %> 
        
      </ul>
    </div>
  </div>
</nav>


