<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="inicio">
     <%= image_tag "acoso.jpg", width: '100%' %>
     <%= image_tag "redes.jpg",  class: "logo-inicial"  %>
</div>


   <div class="container">
      <hr>
      <div class="col-md-8">
         <p><%= image_tag "manzana.jpg", width: '10%', alt: "profile image" %></p> 
         <h2><%= @about.tit_titulo_1.html_safe %></h2>
         
         <div class="col-md-10">
            <p><%= @about.desc_titulo_1.html_safe %></p>
            <p><%= link_to 'conoce más', acercades_path, class: "btn btn-default btn-lg" %></p>
         </div>

      </div>
   </div>

<div class="container">
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <h2>eventos</h2>
      <p><%= @eventos.titulo %></p>
      <p><%= @eventos.detalle.html_safe %></p>
      <p><%= @eventos.lugar %></p>
      <p><%= @eventos.expositor %></p>
      <p>del: <%= @eventos.fecha_inicio.strftime('%d / %B / %Y') %> al: <%= @eventos.fecha_fin.strftime('%d /%B/%Y') %> </p>
      <p><%= image_tag @eventos.imagen.to_s, width: '100%' %></p>   
      <p><%= link_to 'asiste', eventos_path, class: "btn btn-default btn-lg" %></p>
   </div>
   <div class="col-md-4">
      <h2>blog</h2>
      <p><em><%= @avisos.titulo %></em></p>
      <p><%= @avisos.detalle.html_safe %></p>
      <p><%= image_tag @avisos.imagen.to_s, width: '100%' %></p>
      <p><%= link_to 'escribe tu blog', avisos_path, class: "btn btn-default btn-lg" %></p>
   </div>

   <div class="col-md-4">
      <h2>socios</h2>
       <div class="col-md-12 socios-materiales">
         <p><h4>Accede a nuestros materiales:</h4></p>
            <p><%= image_tag "manzana_pequena.jpg", width: 14 %> <span>boletín mensual</span></p>
            <p><%= image_tag "manzana_pequena.jpg", width: 14 %> <span>banco de información</span></p>
            <p><%= image_tag "manzana_pequena.jpg", width: 14 %> <span>calendario de capacitación</span></p>
            <p><%= image_tag "manzana_pequena.jpg", width: 14 %> <span>material de difusión</span></p>
            <p><%= image_tag "manzana_pequena.jpg", width: 14 %> <span>información estratégica</span></p>
         <p>
            <%= link_to eventos_path do %>
              <%= image_tag "circulo_mas.png", width: '8%', class: "logo-mas" %>
            <% end %>
         </p>
      
         <% if current_user %>
            <p>¡Ingresa a nuestro sitio!</p>
            <p><%= link_to "socios", socios_path, class: "btn btn-default btn-lg" %></p> 
         <% else %>
            <p>¿Aún no cuentas con tu membresía?</p>
            <p><%= link_to "afiliate", new_user_registration_path, class: "btn btn-default btn-lg" %></p> 
         <% end %>
      </div><br><hr><br><p></p>
   </div>
   </div>
</div>
</div>

</div>
</div><br><hr>

 

