<div id="eventos" class="container-fluid">
  <div class="container-fluid bg-grey">
    <div class="row">
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-film logo"></span>
      </div>
      <div class="col-sm-8">
        <h2>EVENTOS</h2>
        <h4><%= @eventos.titulo %></h4>
        <p><%= @eventos.detalle %></p>
        <p><%= @eventos.lugar %></p>
        <p>del: <%= @eventos.fecha_inicio.strftime("%d-%m-%Y") %> al: 
        <%= @eventos.fecha_fin.strftime("%d-%m-%Y") %></p>
        <p><%= @eventos.expositor %></p>
        <p><%= image_tag @eventos.imagen.to_s %></p>
        <%= link_to 'Continuar Lectura', evento_path(@eventos),class: "btn btn-default btn-lg"  %>
      <%= link_to 'Editar', edit_evento_path(@eventos),class: "btn btn-default btn-lg"  %>
      </div>
    </div>
  </div>
</div>


 