<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a><%= link_to "INICIO", root_path, class: "navbar-brand" %></a>
    </div>

    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-left">
        <% if current_user %>
           <li><%= link_to "PROCESO", reconocimiento_path  %></li>
           <li><%= link_to "RECURSOS", reconocimiento_path  %></li>
           <li><%= link_to "EVENTOS", reconocimiento_path  %></li>
           <li><%= link_to "NOTICIAS", reconocimiento_path  %></li>
           <li><%= link_to "SALIR", destroy_user_session_path, method: :delete %></li>
        <% else %>
           <li><%= link_to "ZONA SOCIOS", new_user_session_path %></li>
        <% end %>

      </ul>

    </div>
  </div>
</nav>