<div id="inicio" class="jumbotron text-center">
	<p><%= image_tag "redes.jpg", width: 400, alt: "profile image" %></p>
	<p><%= image_tag "acoso.jpg", width: 900, alt: "profile image" %></p>   

	<div>
		<p>nosotros</p>
   		<%= @about.que_somos %>
   	</div>
   	<div>
   		<p>eventos</p>
   		<%= @eventos.detalle %>
   	</div>
   	<div>
   		<p>socios</p>
   		<ul>Accede a nuestros materiales (boletín mensual, banco de información, calendario de capacitación, material de difusión, información estratégica)
	¿Aún no eres socio? ¡Conoce los beneficios y regístrate! 

   	</div>
   	<div>
   		<p>blog</p>
   		<%= @avisos.detalle %>
   	</div>
</div>
