<div class="container">
<div id="about" class="container-fluid-grey">
  <div class="row">
      <h1 class="nosotros-titulo"><strong>nosotros</strong>
      <% if user_signed_in? %>
        <%= link_to 'Editar', edit_acercade_path(@acercades),class: "btn btn-default btn-lg" if logged_in?(:site_admin) %>
      <% end %>
      </h1><br><br>

      <div class="col-md-6">
        <!-- <strong>¿qué somos?</strong> -->
        <p><%= @acercades.que_somos.html_safe %></p><br>
        <!-- <strong>¿qué hacemos?</strong> -->
        <p><%= @acercades.que_hacemos.html_safe %></p><br>
      </div>
      <div class="col-md-6">
        <!-- <strong>¿qué buscamos?</strong> -->
        <p><%= @acercades.que_buscamos.html_safe %></p><br>
        <!-- <strong>importancia</strong> -->
        <p><%= @acercades.importancia.html_safe %></p><br>
      </div>
  </div>
  <div class="col-md-6 nosotros-enfoque">
    <!-- <p><strong>nuestro enfoque</strong></p> -->
    <p><%= @acercades.enfoque.html_safe %></p>
  </div>
  <div class="col-md-3 nosotros-reconocimiento">
    <p><h3>RECONOCIMIENTOS</h3></p>

    <% @reconocimientos.each do |reconocimiento_rede| %>
        <p><strong><%= reconocimiento_rede.nombre %></strong></p>
        <p><%= reconocimiento_rede.descripcion %></p>
    <% end %>

    <%= link_to 'Agregar Reconocimiento', new_reconocimiento_rede_path if logged_in?(:site_admin) %>
  </div>


</div>
</div>















