<div id="menu-side-bar">
  <div id="container-sidebar-first" class="container-sidebar" id="mySideBar">
      <p class="texto-sidebar"><%= link_to "Inicio", etapa_certificacions_path %></p>
  </div>

  <div class="container-sidebar">
    <% @sidebar.each do |etapa| %>
      <div>
        <p class="texto-sidebar"><%= link_to "Paso #{etapa.id}", etapa_certificacion_url(id: etapa.id) %></p>
      </div>
    <% end %>
    
    <div>
      <p class="texto-sidebar"><%= link_to 'Preguntas', preguntas_certs_path %></p>
    </div>

    <div>
      <p class="texto-sidebar"><%= link_to 'Dashboard Escuela', cert_escolars_path if logged_in?(:escuela, :cert_site_admin) %></p>
    </div>

    <div>
      <p class="texto-sidebar"><%= link_to 'Dashboard Certificador', certificador_dashboard_path if logged_in?(:certificador, :cert_site_admin) %></p>
    </div>

    <div>
      <p class="texto-sidebar"><%= link_to 'Catálogo Escuelas', escuelas_path if logged_in?( :cert_site_admin) %></p>
    </div>

    <div>
      <p class="texto-sidebar"><%= link_to 'Catálogo Certificadores', certificadors_path if logged_in?( :cert_site_admin) %></p>
    </div>

    <div>
      <p class="texto-sidebar"><%= link_to 'Dashboard Administrador', rails_admin_path if logged_in?( :cert_site_admin) %></p>
    </div>

  </div>
  
  </div>
 

   
 