<% @certificador = Certificador.where(email: current_user.email)  %>
<% id = @certificador.ids %>
<% @escuelas = Escuela.where(certificador_id: id) %>
<div class="container etapa-certificacion">
  <div class="col-md-12">
    <table class="table">
      <thead>
        <tr>
          <th>Certificador</th>
          <th>Escuela </th>
          <th>Estandares Completados</th> 
          <th>Estandares en revisión</th>
          <th>Puntos Acumulados</th>
          <th>Avance Total</th>
        </tr>
    </thead>
    <tbody>
      <% @escuelas.each do |escuela| %>
        <tr>
          <td><%= escuela.certificador_id  %></td>
          <td><%= escuela.nombre %></td>
           <td style="text-align: -webkit-center;"><%= escuela.cert_escolars.select("estandar").where(status: 'cumplido').count %></td>
           <td style="text-align: -webkit-center;"><%= escuela.cert_escolars.select("estandar").where(status: 'revision').count %></td>

          <% puntos_escuela = escuela.cert_escolars.sum(:puntaje)  %>
          <td style="text-align: -webkit-center;"><%= number_with_precision(puntos_escuela, precision: 0) %></td>
          <% puntos_certificacion = @puntos.sum(:puntaje_total) %>
          <% avance = puntos_escuela / puntos_certificacion.to_f %>
          <td style="text-align: -webkit-center;"><%= number_with_precision(avance*100, precision: 2).to_s + "%" %></td>
        </tr>
      <% end %>
       
      </tbody>
    </table>
  </div>
  <p><%= link_to 'Dashboard', cert_escolars_path, class: "btn btn-success btn-lg" %></></p>
</div>
   

   
 