
<div class="container-fluid">
   <p id="notice"><%= notice %></p>

   <h1>Eventos</h1>
   <br>
   <%= link_to 'Crear Nuevo Evento', new_evento_path, class: "btn btn-default btn-lg" %></p>
   
   <br>  
   <% @eventos.each do |evento| %>
     <div class="row">
        <div class="card">
           <div class="col-md-6">
       <strong><%= evento.titulo %></strong>
       <p><%= link_to 'Mostrar', evento %> |
          <%= link_to 'Editar', edit_evento_path(evento) %> |
          <%= link_to 'Eliminar', evento, method: :delete, data: { confirm: '¿Confirma Eliminar Evento?' } %></p>
       <h6>del: <%= evento.fecha_inicio.strftime("%d/%m/%Y %H:%M:%S") %> al: 
         <%= evento.fecha_fin.strftime("%d/%m/%Y %H:%M:%S") %></h6>
       
       <p><%= evento.detalle %></p>
       <p><%= evento.lugar %></p>
       <p><%= evento.expositor %></p>
     </div>
     <div class="col-md-6">
       <%= image_tag evento.imagen %>
     </div></div>
     </div>
     <br>
   <% end %>
</div>