<p id="notice"><%= notice %></p>

<h1>Eventos</h1>

<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Detalle</th>
      <th>Lugar</th>
      <th>Fecha inicio</th>
      <th>Fecha fin</th>
      <th>Expòsitor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @eventos.each do |evento| %>
      <tr>
        <td><%= evento.titulo %></td>
        <td><%= evento.detalle %></td>
        <td><%= evento.lugar %></td>
        <td><%= evento.fecha_inicio %></td>
        <td><%= evento.fecha_fin %></td>
        <td><%= evento.expòsitor %></td>
        <td><%= link_to 'Show', evento %></td>
        <td><%= link_to 'Edit', edit_evento_path(evento) %></td>
        <td><%= link_to 'Destroy', evento, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Evento', new_evento_path %>
