<div class="container-fluid-crud">

   <h1>Eventos</h1>
   <br>
   <p><%= link_to 'Nuevo Evento', new_evento_path, class: "btn btn-default btn-lg" if logged_in?(:site_admin) %></p>
   
   <br>  
   <% @eventos.each do |evento| %>
     <div class="row">
        <div class="card">
           <div class="col-md-6">
              <h3><%= evento.titulo %></h3>
              <p><%= link_to 'Mostrar', evento, class: "btn btn-primary btn-lg", size: 50 %> 
                <%= link_to 'Modificar', edit_evento_path(evento), class: "btn btn-success btn-lg", size: 50 if logged_in?(:site_admin) %> 
                <%= link_to 'Eliminar', evento, method: :delete, data: { confirm: '¿Confirma Eliminar Evento?' }, class: "btn btn-danger btn-lg", size: 50 if logged_in?(:site_admin) %></p>
            <h6>del: <%= evento.fecha_inicio.strftime("%d/%m/%Y %H:%M:%S") %> al: 
                     <%= evento.fecha_fin.strftime("%d/%m/%Y %H:%M:%S") %></h6>
       
            <p><%= evento.detalle.html_safe %></p>
            <p><%= evento.lugar %></p>
       
            <% if evento.expositor? %>
               <p><%= evento.expositor %></p>
            <% end %>
     
          </div>
        <div class="col-md-6">
          <%= image_tag(evento.foto, width: 450, height:350) if evento.foto.attached? %> 
        </div>
      </div>
    </div><br>
  <% end %>
</div>
