<div class="container-fluid-crud">
  <p id="notice"><%= notice %></p>
  
  <p>
    <h3><%= @evento.titulo %></h3>
  </p>
  <p><%= link_to 'Modificar', edit_evento_path(@evento), class: "btn btn-success btn-lg", size: 50 if logged_in?(:site_admin) %>
  <%= link_to 'Regresar a Eventos', eventos_path, class: "btn btn-default btn-lg", size: 50 %></p>
  
  <p>
    <%= @evento.detalle.html_safe %>
  </p>
  
  <p>
    <strong>Lugar:</strong>
    <%= @evento.lugar %>
  </p>
  
  <p>
    <strong>Fecha inicio:</strong>
    <%= @evento.fecha_inicio.strftime("%d/%m/%Y %H:%M:%S") %>
  </p>
  
  <p>
    <strong>Fecha fin:</strong>
    <%= @evento.fecha_fin.strftime("%d/%m/%Y %H:%M:%S") %>
  </p>
  
  <p>
     <% if !(@evento.expositor.empty?) %>
      <strong>Expositor:</strong>
      <%= @evento.expositor.html_safe %>
      <% end %>
  </p>
  
  <p>
     <%= image_tag @evento.imagen.to_s, width: '100%' %>
  </p>

  <p>
     <%=  @evento.imagen_2 %>
  </p>
   
  
  
  </div>
</div>
  