<div class="container-fluid">
<p id="notice"><%= notice %></p>

<p>
  <strong><%= @evento.titulo %></strong>
</p>

<p>
  <%= @evento.detalle %>
</p>

<p>
  <strong>Lugar:</strong>
  <%= @evento.lugar %>
</p>

<p>
  <strong>Fecha inicio:</strong>
  <%= @evento.fecha_inicio.strftime("%d/%m/%Y %H:%M:%S") %>
</p>

<p>
  <strong>Fecha fin:</strong>
  <%= @evento.fecha_fin.strftime("%d/%m/%Y %H:%M:%S") %>
</p>

<p>
  <strong>Expositor:</strong>
  <%= @evento.expositor %>
</p>

<p>
   <%= image_tag @evento.imagen.to_s %>
</p>
 
<%= link_to 'Editar', edit_evento_path(@evento) %> |
<%= link_to 'Regresar', eventos_path %>

</div>
