<%= form_with(model: @event, local: true) do |form| %>
  <% if @event.errors.any? %>
      <% @event.errors.full_messages.each do |message| %>
        <%= js add_gritter(message, title: "Aviso", sticky: false) %>
      <% end %>
  <% end %>


  <div class="field">
    <%= form.label 'Título' %>
    <%= form.text_field :titulo, size: 60, class: 'form-control', autofocus: true, required: true %>
  </div>

  <div class="field">
    <%= form.label :detalle %>
    <%= form.text_field :detalle, size: 60, class: 'form-control', required: true %>
  </div>

  <div class="field">
    <%= form.label :lugar %>
    <%= form.text_field :lugar, size: 60, class: 'form-control', required: true %>
  </div><br>

  <div class="field">
  <%= form.label :color %>
	<%= form.select :color, [['Gris 1', '#a1a1a1'], ['Gris 2', '#bababa'], ['Gris 3', '#969696'],['Gris 4', '#7d7d7d'], ['Gris 5', '#666666']  ], class: "form-control", required: true %>
	</div>
   

  <div class="field">
    <%= form.label "Fecha inicio" %>
    <%= form.datetime_field :start, class: 'form-control', required: true   %>
  </div>


  <div class="field">
    <%= form.label "Fecha fin" %>
    <%= form.datetime_field :end, class: 'form-control', required: true  %>
  </div>
  <br>
  <div class="btn btn-default btn-md">
    <%= form.label :foto %>
    <%= form.file_field :foto, class: 'form-control' %>
  </div>
  <p></p>

  <div class="actions">
    <%= form.submit 'Guardar', class: "btn btn-primary btn-md", size: 50 %>
    
  </div>
  
<% end %>

 



