<%= render "shared/application_nav_reconocimientos" %>
<div class="container-fluid-crud">

<p id="notice"><%= notice %></p>

<h1>Estandares Para Cerficiacion</h1>
<%= link_to 'Crear Estandares Cerficiacion', new_estandares_cerficiacion_path, class: 'btn btn-default btn-lg' %>

<table class="table">
  <thead>
    <tr>
      <th>Estandar</th>
      <th>Descripción</th>
      <th>Puntos</th>
      <th>Observaciones</th>
      <th>Etapa certificación</th>
      <th colspan="3">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @estandares_cerficiacions.each do |estandares_cerficiacion| %>
      <tr>
        <td><%= estandares_cerficiacion.estandar %></td>
        <td><%= estandares_cerficiacion.descripcion %></td>
        <td><%= estandares_cerficiacion.puntos %></td>
        <td><%= estandares_cerficiacion.observaciones %></td>
        <td><%= estandares_cerficiacion.etapa_certificacions %></td>
        <td><%= link_to 'Mostrar', estandares_cerficiacion %></td>
        <td><%= link_to 'Modificar', edit_estandares_cerficiacion_path(estandares_cerficiacion) %></td>
        <td><%= link_to 'Eliminar', estandares_cerficiacion, method: :delete, data: { confirm: '¿Confirma Eliminar el Registro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

</div>