<div class="container">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="container-fluid-login">
  <div class="row">
       <% @acercade_certificates = AcercadeCertificate.first %>
       <div class="col-md-4">
       <%= image_tag @acercade_certificates.manzana, class: "manzanita-inicio" if @acercade_certificates.manzana.attached? %>
       </div>
      <div class="col-md-6 row-login">
      <%= image_tag @acercade_certificates.logo,  class: 'logo-login' if @acercade_certificates.logo.attached? %>
      <p></p>
        <%= f.label :'Usuario' %>
        <%= f.email_field :email,
                          autofocus: true,
                          autocomplete: "email",
                          class: "form-control",
                          placeholder: "correo electrónico",  
                          align: 'right' %><br>
        <%= f.label :'Contraseña' %>
        <%= f.password_field :password,
                             autocomplete: "current-password",
                             class: "form-control",
                             placeholder: "contraseña" %><br>
        <% if devise_mapping.rememberable? %>
          <%= f.check_box :remember_me %> Recordarme
        <% end %><br><br> 

        <div class="cuadrado"><%= f.submit "Entrar", class: "btn btn-flecha" %></div>
 
      </div>
    </div>
  </div>
</div>
<% end %>
</div>

 




