<div class="container">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div id="socios" class="container-fluid-login">
  <div class="row">
      <h2><strong>socios</strong></h2><br><br>
      <div class="col-md-6 row-login">
        <%= f.label :'Usuario' %>
        <%= f.email_field :email,
                          autofocus: true,
                          autocomplete: "email",
                          class: "form-control",
                          placeholder: "correo electrónico",  
                          align: 'right' %><br>
        <%= f.label :'Contraseña' %>
        <%= f.password_field :password,
                             autocomplete: "current-password",
                             class: "form-control",
                             placeholder: "contraseña" %><br>
        <% if devise_mapping.rememberable? %>
          <%= f.check_box :remember_me %> Recordarme
        <% end %><br><br> 

        <%= f.submit "Entrar", class: "btn btn-primary" %>   
      </div>
    </div>
  </div>
    <div class="col-md-6">
      <% if devise_mapping.registerable? && controller_name != 'registrations' %>
        <%= link_to "¿Aún no eres socio?", new_registration_path(resource_name), class: 'btn btn-danger-registrate'   %>
      <% end %>

      <p class="conoce-mas-socio">¡Conoce los beneficios y regístrate!</p>
    </div>
  
  
  <div class="col-md-6 socios-materiales">
    <h2>Accede a nuestros materiales:</h2>
      <p><%= image_tag "manzana_pequena.jpg", width: 14 %> <a>boletín mensual</a></p>
      <p><%= image_tag "manzana_pequena.jpg", width: 14 %> <a>banco de información</a></p>
      <p><%= image_tag "manzana_pequena.jpg", width: 14 %> <a>calendario de capacitación</a></p>
      <p><%= image_tag "manzana_pequena.jpg", width: 14 %> <a>material de difusión</a></p>
      <p><%= image_tag "manzana_pequena.jpg", width: 14 %> <a>información estratégica</a></p>
      <%= link_to socios_path do %>
        <%= image_tag "circulo_mas.png", class: "logo-mas" %>
      <% end %>
  </div>
  

 
</div>
<% end %>
</div>

 




