<%= form_with(model: evidencia_estandar, local: true) do |form| %>
  <% if evidencia_estandar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(evidencia_estandar.errors.count, "error") %> prohibited this evidencia_estandar from being saved:</h2>

      <ul>
      <% evidencia_estandar.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre_documento %>
    <%= form.text_area :nombre_documento %>
  </div>

  <div class="field">
    <%= form.label :tipo_documento %>
    <%= form.text_field :tipo_documento %>
  </div>

  <div class="field">
    <%= form.label :estandares_cerficiacions_id %>
    <%= form.text_field :estandares_cerficiacions_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
