<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @noticium.titulo %>
</p>

<p>
  <strong>Detalle:</strong>
  <%= @noticium.detalle %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @noticium.fecha %>
</p>

<p>
  <strong>Autor:</strong>
  <%= @noticium.autor %>
</p>

<%= link_to 'Edit', edit_noticium_path(@noticium) %> |
<%= link_to 'Back', noticia_path %>
