<% escuela_name = "" %> 
<% @results.each do |nombre_escuela| %>
  <% if escuela_name != nombre_escuela.nombre_escuela %>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" 
                               data-parent="#accordion" 
                               href="#collapse<%= nombre_escuela.escuela_id %>" 
                               aria-expanded="true" 
                               aria-controls="collapseOne">
                    <h4><%= nombre_escuela.nombre_escuela %></h4>
                    <% escuela_name = nombre_escuela.nombre_escuela %>
                    <% proceso_periodo = "" %> 
            </a>
          </h4>
        </div>
      </div>
    </div>
  <% end %>
  <div class="collapse" id="<%= "collapse#{nombre_escuela.escuela_id}" %>">
    <% @results.each do |proceso| %>
      <% if proceso.nombre_escuela == escuela_name && proceso.proceso != proceso_periodo %>

        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" 
                               data-parent="#accordion" 
                               href="#collapse<%= proceso.proceso + nombre_escuela.escuela_id.to_s  %>" 
                               aria-expanded="true" 
                               aria-controls="collapseOne">
                    <h4><%= proceso.proceso  %> </h4>
                    <% proceso_periodo = proceso.proceso %> 
              </a>
            </h4>
          </div>
        </div>
      </div>
      <div class="collapse" id="<%= "collapse#{proceso.proceso + nombre_escuela.escuela_id.to_s}" %>">
        <div class="panel-body">
          <section>
            <div class="col-md-3 titulo">Estándar</div>
            <div class="col-md-3 titulo">Descripción</div>
            <div class="col-md-2 titulo">Puntaje total</div>
            <div class="col-md-1 titulo">Avance</div>
            <div class="col-md-2 titulo">Puntos cumplidos</div>
            <div class="col-md-1 titulo">Estatus</div>
          </section>
          <% i = 1 %>
          <% @results.each do |estandar| %>
            <% if estandar.proceso == proceso.proceso && estandar.nombre_escuela == escuela_name %>
                      <% @nombre_estandar = EstandarEtapaCertificacion.find_by(num_etapa: estandar.paso, num_estandar: estandar.estandar) %>
          <% link = estandar.paso.to_s + "." + estandar.estandar.to_s + " " + @nombre_estandar.titulo %>
          <% avance = ((estandar.puntaje.to_f/@nombre_estandar.puntaje_total)*100).to_i %> <!-- &nbsp;% -->
          <section>
            <% if i.odd? %>
              <article class="detalle-non">
            <% else %>  
              <article class="detalle-par">
            <%end %>
            <span><% i %></span>
            <article>
              <div class="col-md-3 detalle-estandar"><%=  link_to link.truncate(60), edit_cert_escolar_path(estandar) %></div>
              <div class="col-md-3 detalle-descripcion"><%= @nombre_estandar.descripcion.truncate(65) %></div>
              <div class="col-md-2 detalle-puntos-totales"><%= @nombre_estandar.puntaje_total %></div>
              <% if avance <= 50 %>
                <div class="col-md-1 rojo detalle-avance"><%= number_with_precision(avance, precision: 2) %></div>
              <% elsif avance > 50 && avance < 100 %>
                <div class="col-md-1 naranja detalle-avance"><%= number_with_precision(avance, precision: 2) %></div>
              <% else %>
                <div class="col-md-1 verde detalle-avance"><%= number_with_precision(avance, precision: 2) %></div>
              <% end %>
              <div class="col-md-2 detalle-puntos-cumplidos" ><%= estandar.puntaje %></div>
              <% case estandar.status %>
                <% when 'sin_avance' %>
                  <div class="col-md-1 detalle-estatus">Sin avance</div>
                <% when 'desarrollo' %>
                  <div class="col-md-1 detalle-estatus">Desarrollo</div>
                <% when 'revision' %>
                  <div class="col-md-1 detalle-estatus">Revisión</div>
                <% when 'comentarios' %>
                  <div class="col-md-1 detalle-estatus">Comentarios</div>
                <% when 'cumplido' %>
                  <div class="col-md-1 detalle-estatus">Cumplido</div>
                <% end %>   <!-- End del if de avance -->
            </article>
          </section>
            <% end %>
            <% proceso_periodo = proceso.proceso %> 
          <% end %>
        </div>
        <div class="decorativo"></div>
      </div>
      
    <% end %>
    
  <% end %>
   
  <% escuela_name = nombre_escuela.nombre_escuela %>
  </div>
  
<% end %> 
