<%= form_with(model: cert_escolar, local: true) do |form| %>
  <% if cert_escolar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cert_escolar.errors.count, "error") %> prohibited this cert_escolar from being saved:</h2>

      <ul>
      <% cert_escolar.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="container modificar-puntos">
      <em>Puntos Obtenidos:</em>&nbsp;<input type="text" class= "detalle" value="<%= @cert_escolar.puntaje %>" disabled > 

      
      <div class="form-group">
        <br>
          <em>Estatus:</em>&nbsp;
          <div class="btn-group btn-group-toggle" data-toggle = "buttons">
            <!-- *** BOTON SIN AVANCE *** -->
            <% if @cert_escolar.sin_avance? %>
              <label class="btn btn-primary active" disabled>
                <%=form.label :status, "Sin Avance" %>
                <%=form.radio_button :status, "sin_avance", disabled: true %>
              </label>
            <% else %>
              <label class="btn btn-secondary" disabled>
                <%=form.label :status, "Sin Avance" %>
                <%=form.radio_button :status, "sin_avance", disabled: true %>
              </label>
            <% end %>

            <!-- *** BOTON EN DESARROLLO *** -->
            <% if @cert_escolar.en_desarrollo? %> 
              <label class="btn btn-primary active" disabled>
                <%=form.label :status, "En desarrollo" %>
                <%=form.radio_button :status, "en_desarrollo", disabled: true %>
              </label>
            <% else %>
              <label class="btn btn-secondary" disabled>
                <%=form.label :status, "En desarrollo" %>
                <%=form.radio_button :status, "en_desarrollo", disabled: true %>
              </label>
            <% end %>

            <!-- *** BOTON REVISION *** -->
            <% if @cert_escolar.revision? %>
              <label class="btn btn-primary active" disabled>
                <%=form.label :status, "Revisión" %>
                <%=form.radio_button :status, "revision", disabled: true %>
              </label>
            <% else %>
              <label class="btn btn-secondary " disabled>  
                <%=form.label :status, "Revisión" %>
                <%=form.radio_button :status, "revision", disabled: true %>
              </label>
            <% end %>    
              
            <!-- *** BOTON REVISADO CON COMENTARIOS *** -->
            <% if @cert_escolar.revisado_con_comentarios? %>
              <label class="btn btn-primary active" >
                <%=form.label :status, "Revisado con comentarios" %>
                <%=form.radio_button :status, "revisado_con_comentarios" %>
              </label>
            <% else %>
              <label class="btn btn-secondary" >
                <%=form.label :status, "Revisado con comentarios" %>
                <%=form.radio_button :status, "revisado_con_comentarios" %>
              </label>
            <% end %>    
                
            <!-- *** BOTON CUMPLIDO *** -->
            <% if @cert_escolar.cumplido? %>
              <label class="btn btn-primary active" >
                <%=form.label :status, "cumplido" %>
                <%=form.radio_button :status, "cumplido"  %>
              </label>
            <% else %>
              <label class="btn btn-secondary" >
                <%=form.label :status, "cumplido" %>
                <%=form.radio_button :status, "cumplido" %>  
              </label>
            <% end %>

          </div>
         
      </div>
    </div>
  </div>
<% end %>