<div class="container">
	<%= form_with(model: @cert_escolar, local: true) do |form| %>
    <% if @cert_escolar.errors.any? %>
        <% @cert_escolar.errors.full_messages.each do |message| %>
          <%= js add_gritter(message, title: "Aviso", sticky: false) %>
        <% end %>
    <% end %>
 <hr>
  <div class="actions">
    <p><%= form.submit "Guardar", class: "btn btn-primary btn-md" %>
    <%= link_to "Regresar", cert_escolars_path, class: "btn btn-info btn-md"  %></p>
  </div>
  
  <div class="col-md-8">
    <div class="container container-etapa">
      <% @estandar = @cert_escolar.det_estandar(@cert_escolar.paso, @cert_escolar.estandar) %>
      <% @paso = @cert_escolar.det_paso(@cert_escolar.paso) %>
      <div class="row">
        <div class="col-md-8">
         <p>Paso <%= @paso.num_paso.to_s + ": " + @paso.nombre %></p>
        </div>
      </div>
       
      <p>Estándar:</p>
      <p class="descripcion-etapa"><%= @cert_escolar.paso.to_s + "." + @cert_escolar.estandar.to_s + " " + @estandar.titulo %></p>
      <p>Descripción:</p>
      <p class="descripcion-etapa"><%= @estandar.descripcion %></p>
      <p>Evidencias:</p>
      <p class="descripcion-etapa"><%= @estandar.evidencias.html_safe %></p>
      <p>Observaciones:</p>
      <p class="descripcion-etapa"><%= @estandar.observaciones %></p>
      
      <div class="btn-group">
        <button type="button" class="btn btn-success btn-lg dropdown-toggle" data-toggle="dropdown">
          Material Obligatorio <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <% if @estandar.obligatorio.attached? %>
            <% @estandar.obligatorio.each do |upload| %>
              <li><%= link_to upload.filename, upload, target: '_blank' %></li>
            <% end %>
          <% end %>
        </ul>
      </div>

      <div class="btn-group">
        <button type="button" class="btn btn-info btn-lg dropdown-toggle" data-toggle="dropdown">
          Material Apoyo <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <% if @estandar.apoyo.attached? %>
            <% @estandar.apoyo.each do |upload| %>
              <li><%= link_to upload.filename, upload, target: '_blank' %></li>
            <% end %>
          <% end %>
        </ul>
      </div>

      <div class="btn-group">
        <button type="button" class="btn btn-warning btn-lg dropdown-toggle" data-toggle="dropdown">
          Detalle puntuación <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <% if !@estandar.puntos_estandars.blank? %>
            <% @estandar.puntos_estandars.each do |puntos| %>
             <li><a href="#" class="tooltip-toggle" aria-label="<%= puntos.descripcion %>" tabindex="0">
                <%= puntos.puntos.to_s + ' ' + puntos.descripcion.truncate(20) %>
              </a></li>
            <% end %>
          <% end %>
        </ul>
      </div>
      <span class="container-puntos">Puntaje máximo:&nbsp;<span id="puntaje_total"><%= @estandar.puntaje_total %></span></span>
      <br><hr>


    <div class="container modificar-puntos">
      <% if logged_in?(:escuela) %>
        <div class="col-md-7">
          <em>Puntos Obtenidos:&nbsp;</em>&nbsp;<input type="text" class= "detalle" value="<%= @cert_escolar.puntaje %>" disabled > 
        </div>
        <div class="col-md-5">
          <% if  !@cert_escolar.revision? && !@cert_escolar.cumplido?  %>
            <em>Estado:&nbsp;</em><%= form.select(:status, [['Desarrollo', 'desarrollo'], ['Revisión', 'revision']], disabled: true ) %>
          <% elsif @cert_escolar.revision?  %>
            <em>Estado:&nbsp;</em><%= form.select(:status, [['Revisión', 'revision']], disabled: true ) %>  
          <% elsif @cert_escolar.cumplido? %>
            <em>Estado:&nbsp;</em><%= form.select(:status, [['Cumplido', 'cumplido']], disabled: true ) %>  
          <% end %>
        </div>
      <% elsif logged_in?(:certificador) %>
        <div class="col-md-7">
          <em>Puntos Obtenidos:</em>&nbsp;<%= form.text_field :puntaje, class: "detalle" %> 
        </div>
        <div class="col-md-5">
          <% if !@cert_escolar.desarrollo? && !@cert_escolar.cumplido? && !@cert_escolar.comentarios? %>
            <em>Estado:&nbsp;</em><%= form.select(:status, [['Revisado con comentarios', 'comentarios'], ['Cumplido', 'cumplido']] ) %>
          <% elsif @cert_escolar.cumplido? %>
            <em>Estado:&nbsp;</em><%= form.select(:status, [['Cumplido', 'cumplido']], disabled: true ) %>
          <% elsif @cert_escolar.desarrollo? %>    
            <em>Estado:&nbsp;</em><%= form.select(:status, [['Desarrollo', 'desarrollo']], disabled: true ) %>
          <% elsif @cert_escolar.comentarios? %>    
            <em>Estado:&nbsp;</em><%= form.select(:status, [['Revisado con comentarios', 'comentarios'], ['Cumplido', 'cumplido']], disabled: true ) %>
          <% end %>
        </div>
      <% elsif logged_in?(:cert_site_admin)    %>
        <div class="col-md-7">
          <em>Puntos Obtenidos:</em>&nbsp;<%= form.text_field :puntaje, class: "detalle" %> 
        </div>
        <div class="col-md-5">
          <em>Estado:&nbsp;</em><%= form.select(:status, [['Sin avance', 'sin_avance'], ['Desarrollo', 'desarrollo'], ['Revisión', 'revision'], ['Revisado con comentarios', 'comentarios'], ['Cumplido', 'cumplido']] ) %>
        </div>
      <% end %> 
    </div>
   
  </div>
  </div>
  
  <div class="col-md-4"> <!-- evidencias subidas y subir mas -->
    <p class="titulo-evidencias">Evidencias</p>
    <div class="container container-evidencias">
      <% if @cert_escolar.evidencias.attached? %>
        <% @cert_escolar.evidencias.each do |upload| %>
          <div class="row">
            <div class="col-md-9">
              <%= link_to upload.filename, upload, target: '_blank'   %> <br/>
            </div>
            <div class="col-md-1">
            <% if logged_in?(:escuela) %>
              <% if @cert_escolar.sin_avance? || @cert_escolar.desarrollo? || @cert_escolar.comentarios? %>
              <small>
                <%= link_to cert_escolar_delete_upload_attachment_path(:cert_escolar_id => @cert_escolar.id, 
                                  :evidencias_id => upload.id), method: :delete, 
                                  data: { confirm: '¿Confirma Eliminar Archivo?' } do  %>
                      <%= fa_stacked_icon "trash inverse", base: "square", class: "fa-1x", style: "color: #dd0707" %>
                <% end %>                
              </small><br/>
              <p></p>
              <% end %>
            <% end %>

            </div>
          </div>

        <% end %> 
      <% else %>
        <small>Sin evidencias anexas</small>
      <% end %>

      <span class="agregar-evidencias">
        <% if logged_in?(:escuela) && (@cert_escolar.sin_avance? || @cert_escolar.comentarios? || @cert_escolar.desarrollo?)  %>
          <h3>Agregar Evidencias</h3>
             <%= form.file_field :evidencias, multiple: true, class: "form-control btn btn-large btn-warning btn-file" if (@cert_escolar.desarrollo? || @cert_escolar.sin_avance? || @cert_escolar.comentarios?) %>
        <% end %>
      </span>
    </div> <hr>

    <p class="titulo-evidencias">Revisiones</p> <!-- subir revisiones por parte del certificador -->
    <div class="container container-revisiones">
      <% if @cert_escolar.revisiones.attached? %>
        <% @cert_escolar.revisiones.each do |upload| %>
          <div class="row">
            <div class="col-md-9">
              <%= link_to upload.filename, upload, target: '_blank' %> <br/>
            </div>
            <div class="col-md-1">
            <% if logged_in?(:certificador, :cert_site_admin) %>
              <% if @cert_escolar.revision? %>
                <small>
                  <%= link_to cert_escolar_delete_upload_revisiones_path(:cert_escolar_id => @cert_escolar.id, 
                            :revisiones_id => upload.id), method: :delete, data: { confirm: '¿Confirma Eliminar Archivo?' } do   %>
                    <%= fa_stacked_icon "trash inverse", base: "square", class: "fa-1x", style: "color:#dd0707" %>
                  <% end %>
                </small><br/>
                <% end %>
            <% end %>   
          </div>
        </div>

        <% end %>
      <% else %>
        <small>Sin revisiones</small>
      <% end %>
      <span class="agregar-evidencias">
        <% if logged_in?(:certificador, :cert_site_admin) %>
          <% if @cert_escolar.revision? %>
            <h3>Agregar Revisiones</h3>
               <%= form.file_field :revisiones, multiple: true, class: "form-control btn btn-large btn-warning btn-file"  %>
          <% end %>     
        <% end %>
      </span>
  </div> 
 <% end %>
</div>

 

