<div class="container">
	<%= form_for(@cert_escolar, html: { multipart: true} ) do |form| %>
    <% if @cert_escolar.errors.any? %>
        <% @cert_escolar.errors.full_messages.each do |message| %>
          <%= js add_gritter(message, title: "Aviso", sticky: false) %>
        <% end %>
    <% end %>
 
  <div class="actions">
    <div class="row">
      <div class="cuadrado"><%= form.submit "Guardar", class: "btn btn-flecha" %></div>
      </div>
      <br>
      <div class="row">
        <%= link_to cert_escolars_path do   %>
         <%= fa_stacked_icon "undo inverse", base: "circle", class: "fa-2x", style: "color: #ED1C24; margin-left: 20px" %>
        <% end %>
    </div>
  </div>
  
  <div class="container container-etapa">    
    <div class="col-md-7">
      <% @estandar = @cert_escolar.det_estandar(@cert_escolar.paso, @cert_escolar.estandar) %>
      <% @paso = @cert_escolar.det_paso(@cert_escolar.paso) %>
      <small><p class="etiqueta-etapa"><strong>Paso <%= @paso.num_paso.to_s + ": " + @paso.nombre %></strong></p></small>
      <small><p class="etiqueta-etapa"><strong>Estándar:</strong></p></small>
      <small><p class="descripcion-etapa"><%= @cert_escolar.paso.to_s + "." + @cert_escolar.estandar.to_s + " " + @estandar.titulo %></p></small>
      <small><p class="etiqueta-etapa"><strong>Descripción:</strong></p></small>
      <small><p class="descripcion-etapa"><%= @estandar.descripcion %></p></small>
      <small><p class="etiqueta-etapa"><strong>Evidencias:</strong></p></small>
      <small><p class="descripcion-etapa"><%= @estandar.evidencias.html_safe %></p></small>
      <small><p class="etiqueta-etapa"><strong>Observaciones:</strong></p></small>
      <small><p class="descripcion-etapa"><%= @estandar.observaciones %></p></small>
      
       
        <div class="col-md-4">
          <button type="button" class="boton-estandar dropdown-toggle" data-toggle="dropdown">
            Material Obligatorio <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <% if @estandar.obligatorio.attached? %>
              <% @estandar.obligatorio.each do |upload| %>
                <li><%= link_to upload.filename, upload, target: '_blank' %></li>
              <% end %>
            <% end %>
          </ul>
        </div>
 
        <div class="col-md-4">
          <button type="button" class="boton-estandar dropdown-toggle" data-toggle="dropdown">
            Material Apoyo <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <% if @estandar.apoyo.attached? %>
              <% @estandar.apoyo.each do |upload| %>
                <li><%= link_to upload.filename, upload, target: '_blank' %></li>
              <% end %>
            <% end %>
          </ul>
        </div>
  
        <div class="col-md-4">
          <button type="button" class="boton-estandar btn-md dropdown-toggle" data-toggle="dropdown">
            Detalle puntuación <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <% if !@estandar.puntos_estandars.blank? %>
              <% @estandar.puntos_estandars.each do |puntos| %>
              <li><a href="#" class="tooltip-toggle" aria-label="<%= puntos.descripcion %>" tabindex="0">
                  <%= puntos.puntos.to_s + ' ' + puntos.descripcion.truncate(20) %>
                </a></li>
              <% end %>
            <% end %>
          </ul>
        </div>
       <br><br><br>
      <div class="decorativo-estandar" ></div>
     
      <% if logged_in?(:escuela) %>
        <div class="col-md-5 fondo-gris">
          <em class= "letra-blanca">Puntos Obtenidos:&nbsp;</em>&nbsp;<input type="text" class="captura-puntos", size="5" value="<%= number_with_precision(@cert_escolar.puntaje, precision: 0)  %>" disabled >
          <p><small class="letra-blanca">de <%= @estandar.puntaje_total %> posibles</small></p> 
        </div>
        <div class="col-md-7 fondo-gris">
          <% if  !@cert_escolar.revision? && !@cert_escolar.cumplido?  %>
            <em class= "letra-blanca">Estado:&nbsp;</em><%= form.select(:status, [['Desarrollo', 'desarrollo'], ['Revisión', 'revision']], disabled: true) %>
          <% elsif @cert_escolar.revision?  %>
            <em class= "letra-blanca">Estado:&nbsp;</em><%= form.select(:status, [['Revisión', 'revision']], disabled: true) %>
          <% elsif @cert_escolar.cumplido? %>
            <em class= "letra-blanca">Estado:&nbsp;</em><%= form.select(:status, [['Cumplido', 'cumplido']], disabled: true) %>
          <% end %>
        </div>
      <% elsif logged_in?(:certificador) %>
        <div class="col-md-5 fondo-gris">
          <em class= "letra-blanca">Puntos Obtenidos:</em>&nbsp;<%= form.text_field :puntaje, step: 0, class: "captura-puntos", size: 5 %>
          <p><small class="letra-blanca">de <%= @estandar.puntaje_total %> posibles</small></p>  
        </div>
         
        <div class="col-md-7 fondo-gris">
          <% if !@cert_escolar.desarrollo? && !@cert_escolar.cumplido? && !@cert_escolar.comentarios? %>
            <em class= "letra-blanca">Estado:&nbsp;</em><%= form.select(:status, [['Revisado con comentarios', 'comentarios'], ['Cumplido', 'cumplido']] ) %>
          <% elsif @cert_escolar.cumplido? %>
            <em class= "letra-blanca">Estado:&nbsp;</em><%= form.select(:status, [['Cumplido', 'cumplido']], disabled: true ) %>
          <% elsif @cert_escolar.desarrollo? %>    
            <em class= "letra-blanca">Estado:&nbsp;</em><%= form.select(:status, [['Desarrollo', 'desarrollo']], disabled: true ) %>
          <% elsif @cert_escolar.comentarios? %>    
            <em class= "letra-blanca">Estado:&nbsp;</em><%= form.select(:status, [['Revisado con comentarios', 'comentarios'], ['Cumplido', 'cumplido']], disabled: true ) %>
          <% end %>
        </div>
        
      <% elsif logged_in?(:cert_site_admin)    %>
        <div class="col-md-5 fondo-gris">
          <em class= "letra-blanca">Puntos Obtenidos:</em>&nbsp;<%= form.text_field :puntaje, class: "captura-puntos", size: 5 %>
          <p><small class="letra-blanca">de <%= @estandar.puntaje_total %> posibles</small></p>
        </div>
         
        <div class="col-md-7 fondo-gris">
          <em class= "letra-blanca">Estado:&nbsp;</em><%= form.select(:status, [['Sin avance', 'sin_avance'], ['Desarrollo', 'desarrollo'], ['Revisión', 'revision'], ['Revisado con comentarios', 'comentarios'], ['Cumplido', 'cumplido']] ) %>
        </div>
      <% end %> 
    </div>
   <br>
  
  <div class="col-md-4"> <!-- evidencias subidas y subir mas -->
    <p class="titulo-evidencias">Evidencias</p>
    <div class="container container-evidencias">
      <% if @cert_escolar.evidencias.attached? %>
        <% @cert_escolar.evidencias.each do |upload| %>
          <div class="row">
            <div class="col-md-9">
              <% nombre_archivo = upload.filename.to_s  %>
              <%= link_to nombre_archivo.truncate(25), upload, target: '_blank' %> <br/>
            </div>
            <div class="col-md-1">
            <% if logged_in?(:escuela) %>
              <% if @cert_escolar.sin_avance? || @cert_escolar.desarrollo? || @cert_escolar.comentarios? %>
              <small>
                <%= link_to cert_escolar_delete_upload_attachment_path(:cert_escolar_id => @cert_escolar.id, 
                                  :evidencias_id => upload.id), method: :delete, 
                                  data: { confirm: '¿Confirma Eliminar Archivo?' } do  %>
                      <%= fa_stacked_icon "trash inverse", base: "square", class: "fa-1x", style: "color: #ED1C24" %>
                <% end %>                
              </small><br/>
              <p></p>
              <% end %>
            <% end %>

            </div>
          </div>

        <% end %> 
      <% else %>
        <small>Sin evidencias</small>
      <% end %>
      <span class="agregar-evidencias">
        <% if logged_in?(:escuela) && (@cert_escolar.sin_avance? || @cert_escolar.comentarios? || @cert_escolar.desarrollo?)  %>
             <!-- 
             <p><%= form.file_field :evidencias, multiple: true   if (@cert_escolar.desarrollo? || @cert_escolar.sin_avance? || @cert_escolar.comentarios?) %></p>
             <button type="button"   onclick="document.getElementById('cert_escolar_evidencias').click();">Adjuntar archivos </button>
            --> 
<!-- cambiando el estilo con boostrap -->
 
            <div class="input-group">
                <label class="input-group-btn">
                    <span class="btn btn-adjuntar-archivos">
                        Adjuntar archivos<%= form.file_field :evidencias, multiple: true, direct_upload: true %>
                    </span>
                </label>
                <input type="text" class="form-control" readonly>
            </div>

<!-- fin boostrap -->


          

        <% end %>
      </span>
    </div> <hr>

    <p class="titulo-evidencias">Revisiones</p> <!-- subir revisiones por parte del certificador -->
    <div class="container container-revisiones">
      <% if @cert_escolar.revisiones.attached? %>
        <% @cert_escolar.revisiones.each do |upload| %>
          <div class="row">
            <div class="col-md-9">
            <% nombre_archivo = upload.filename.to_s  %>
              <%= link_to nombre_archivo.truncate(20), upload, target: '_blank' %> <br/>
               
            </div>
            <div class="col-md-1">
            <% if logged_in?(:certificador, :cert_site_admin) %>
              <% if @cert_escolar.revision? %>
                <small>
                  <%= link_to cert_escolar_delete_upload_revisiones_path(:cert_escolar_id => @cert_escolar.id, 
                            :revisiones_id => upload.id), method: :delete, data: { confirm: '¿Confirma Eliminar Archivo?' } do   %>
                    <%= fa_stacked_icon "trash inverse", base: "square", class: "fa-1x", style: "color: #ED1C24" %>
                  <% end %>
                </small><br/>
                <% end %>
            <% end %>   
          </div>
        </div>

        <% end %>
      <% else %>
        <small>Sin revisiones</small>
      <% end %>
      <span class="agregar-evidencias">
        <% if logged_in?(:certificador, :cert_site_admin) %>
          <% if @cert_escolar.revision? %>
          <!-- 
          <p><%= form.file_field :revisiones, multiple: true %></p>
             <p><button type="button" class="cuadrado-archivos" onclick="document.getElementById('cert_escolar_revisiones').click();">  Adjuntar archivos  </button>
             <p><span class="file_name"></span></p>
               <%= form.file_field :revisiones, multiple: true, class: "form-control btn btn-large btn-warning btn-file"  %>
              -->

              <!-- cambiando el estilo con boostrap -->
              <p></p>
              <div class="input-group">
                <label class="input-group-btn">
                    <span class="btn btn-adjuntar-archivos">
                        Adjuntar archivos<%= form.file_field :revisiones, multiple: true, direct_upload: true %>
                    </span>
                </label>
                <input type="text" class="form-control" readonly>
              </div>

            <!-- fin boostrap -->  
          <% end %>     
        <% end %>
      </span>
  </div> 
 <% end %>
</div>

 
  <script>
    $(function() {

  // We can attach the `fileselect` event to all file inputs on the page
  $(document).on('change', ':file', function() {
    var input = $(this),
        numFiles = input.get(0).files ? input.get(0).files.length : 1,
        label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
    input.trigger('fileselect', [numFiles, label]);
  });

  // We can watch for our custom `fileselect` event like this
  $(document).ready( function() {
      $(':file').on('fileselect', function(event, numFiles, label) {

          var input = $(this).parents('.input-group').find(':text'),
              log = numFiles > 1 ? numFiles + ' archivos a cargar' : label;

          if( input.length ) {
              input.val(log);
          } else {
              if( log ) alert(log);
          }

      });
  });
  
});
        
  </script>

  

 
 