<div class="container">
	<%= form_with(model: @cert_escolar, local: true) do |form| %>
    <% if @cert_escolar.errors.any? %>
        <% @cert_escolar.errors.full_messages.each do |message| %>
          <%= js add_gritter(message, title: "Aviso", sticky: false) %>
        <% end %>
    <% end %>

  <div class="actions">
    <p><%= form.submit "Guardar", class: "btn btn-primary btn-md" %>
    <%= link_to "Regresar", cert_escolars_path, class: "btn btn-info btn-md"  %></p>
  </div>
  
  <div class="col-md-8">
    <div class="container container-etapa">
      <% @estandar = @cert_escolar.det_estandar(@cert_escolar.paso, @cert_escolar.estandar) %>
      <% @paso = @cert_escolar.det_paso(@cert_escolar.paso) %>
      <div class="row">
        <div class="col-md-8">
         <p>Paso <%= @paso.num_paso.to_s + ": " + @paso.nombre %></p>
        </div>
      </div>
      <h4 class="titulo-etapa"><%= @cert_escolar.paso.to_s + "." + @cert_escolar.estandar.to_s + " " + @estandar.titulo %> </h4>
      <p>Descripción:</p>
      <p class="descripcion-etapa"><%= @paso.descripcion %></p>
      <p>Observaciones:</p>
      <p class="descripcion-etapa"><%= @estandar.observaciones %></p>
    
    <div class="container modificar-puntos">
      <% if logged_in?(:escuela) %>
        <div class="col-md-7">
          <em>Puntos Obtenidos:&nbsp;</em>&nbsp;<input type="text" class= "detalle" value="<%= @cert_escolar.puntaje %>" disabled > 
          <span class="container-etapa">Puntaje máximo:&nbsp;<span id="puntaje_total"><%= @estandar.puntaje_total %></span></span>
        </div>
        <div class="col-md-5">
          <em>Estado:&nbsp;</em><%= form.select(:status, [['Desarrollo', 'desarrollo'], ['Revisión', 'revision']] ) %>
        </div>
      <% elsif logged_in?(:cert_site_admin, :certificador)    %>
        <div class="col-md-7">
          <em>Puntos Obtenidos:</em>&nbsp;<%= form.text_field :puntaje, class: "detalle" %> 
          <span class="container-etapa">Puntaje máximo:&nbsp;<span id="puntaje_total"><%= @estandar.puntaje_total %></span></span>
        </div>
        <div class="col-md-5">
          <em>Estado:&nbsp;</em><%= form.select(:status, [['Desarrollo', 'desarrollo'], ['Revisión', 'revision'], ['Revisado con comentarios', 'comentarios'], ['Cumplido', 'cumplido']] ) %>
        </div>
      <% end %> 
    </div>
   
    <p><div class="col-md-4">
      <div class="btn-group">
        <button type="button" class="btn btn-success btn-lg dropdown-toggle" data-toggle="dropdown">
          Material Obligatorio <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <% if @estandar.obligatorio.attached? %>
            <% @estandar.obligatorio.each do |upload| %>
              <li><%= link_to upload.filename, upload, target: '_blank' %></li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="col-md-4">
      <div class="btn-group">
        <button type="button" class="btn btn-info btn-lg dropdown-toggle" data-toggle="dropdown">
          Material Apoyo <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <% if @estandar.apoyo.attached? %>
            <% @estandar.apoyo.each do |upload| %>
              <li><%= link_to upload.filename, upload, target: '_blank' %></li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  </div></p>
  
  <div class="col-md-4"> <!-- evidencias subidas y subir mas -->
    <p class="titulo-evidencias">Evidencias</p>
    <div class="container container-evidencias">
      <% if @cert_escolar.evidencias.attached? %>
        <% @cert_escolar.evidencias.each do |upload| %>
          <div class="row">
            <div class="col-md-9">
              <%= link_to upload.filename, upload, target: '_blank' %> <br/>
            </div>
            <div class="col-md-1">
              <small><%= link_to 'Eliminar', cert_escolar_delete_upload_attachment_path(:cert_escolar_id => @cert_escolar.id, :evidencias_id => upload.id), method: :delete, data: { confirm: '¿Confirma Eliminar Archivo?' } %></small><br/>
            </div>
          </div>

        <% end %>
      <% else %>
        <small>Sin evidencias anexas</small>
      <% end %>

      <span class="agregar-evidencias">
        <% if logged_in?(:escuela) %>
          <h3>Agregar Evidencias</h3>
             <%= form.file_field :evidencias, multiple: true, class: "form-control btn btn-large btn-warning btn-file" if (@cert_escolar.desarrollo? || @cert_escolar.sin_avance? || @cert_escolar.comentarios?) %>
        <% end %>
      </span>
    </div> 
     
  </div> 
 <% end %>
</div>


