<div id="body-cert">
  <% if current_user.has_roles?(:certificador, :cert_site_admin)  %>
    <h3> Seguimiento Certificación </h3>
  <% elsif current_user.has_roles?(:escuela) %>  
    <h3> Seguimiento Certificación <%= @results.first.escuela.razon_social %></h3><br> 
    <%= current_user.nombre_escuela %>
  <% end %>
  
  <% if logged_in?(:cert_site_admin, :certificador) %>
    <%= form_tag cert_escolars_path, method: :get do %>
      <div class="row">
        <div class="col-md-6">
          <%= text_field_tag 'term', params[:term], placeholder: "Ingrese criterio de búsqueda", class: "form-control", :autofocus => true %>
        </div>
        <div class="col-md-6">
          <%= submit_tag 'Buscar', class: "btn btn-info btn-lg" %> 
        </div>
      </div>
    <% end %>
  <% end %><br>
     
    <% if !@results.nil? %>
      <% if logged_in?(:cert_site_admin, :certificador) %>
        <%= render 'cert_escolar_admin', escuela: @results %> 
      <% elsif logged_in?(:escuela) %>
        <%= render 'cert_escolar_escuela', escuela: @results %> 
      <% end %>
    <% end %>

</div>
   