<div id="body-cert">
  <h3> Seguimiento Certificación</h3>
  <br> 
  <div class="input-group">  
  <% if logged_in?(:cert_site_admin) %>
    <%= link_to 'Agregar Estandar', new_cert_escolar_path, class: "btn btn-default btn-lg"  %>

    <%= form_tag(cert_escolars_path, :method => "get", class: 'navbar-form navbar-left') do %>
      <%= search_field_tag :search, params[:search], placeholder: "Búsqueda", class: "form-control" %>  
      <div class="input-group-btn">  
        <%= button_tag " Buscar ", :class => 'btn btn-info glyphicon glyphicon-search',:name => nil%>  
      </div>  
    <% end %>
    <% end %>
  </div> 

  <div class="container etapa-certificacion">
    <div class="col-md-12">
      <% if @results.empty? %>
        <h1 id="no-results">No Existen Certificaciones Creadas</h1>
      <% else %>
        <h3><%= @results.first.user.razon_social %></h3>
    </div>
    <% @results.each do |estandar| %>
    <p></p>
    
	  <% @nombre_estandar = EstandarEtapaCertificacion.find_by(etapa_certificacion_id: estandar.paso, estandar_id: estandar.estandar) %>
	<div class="row">
 		<div class="col-md-4">
 			<% link = estandar.paso.to_s + "." + estandar.estandar.to_s + " " + @nombre_estandar.titulo %>
 			<%=  link_to link, estandar %>

		</div>

		<div class="col-md-3">
 			<div class="progress">

 				<%= avance = ((estandar.puntaje.to_f/@nombre_estandar.puntaje_total)*100).to_i %>&nbsp;%
 				
 				<% if avance == 0 %>
  					<div class="progress-bar cero" role="progressbar"></div>
  				<% elsif avance > 0 && avance < 10 %>
  					<div class="progress-bar cinco" role="progressbar"></div>
  				<% elsif avance >= 10 && avance < 20 %>
  					<div class="progress-bar diez" role="progressbar"></div>
  				<% elsif avance >= 20 && avance < 30 %>
  					<div class="progress-bar veinte" role="progressbar"></div>
  				<% elsif avance >= 30 && avance < 40 %>
  					<div class="progress-bar treinta" role="progressbar"></div> 						
  				<% elsif avance >= 40 && avance < 50 %>
  					<div class="progress-bar cuarenta" role="progressbar"></div>
  				<% elsif avance >= 50 && avance < 60 %>
  					<div class="progress-bar cincuenta" role="progressbar"></div>
  				<% elsif avance >= 60 && avance < 70 %>
  					<div class="progress-bar sesenta" role="progressbar"></div>
  				<% elsif avance >= 70 && avance < 80 %>
  					<div class="progress-bar setenta" role="progressbar"></div>
  				<% elsif avance >= 80 && avance < 90 %>
  					<div class="progress-bar ochenta" role="progressbar"></div>
  				<% elsif avance >= 90 && avance < 100 %>
  					<div class="progress-bar noventa" role="progressbar"></div>
  				<% elsif avance == 100  %>
  					<div class="progress-bar cien" role="progressbar"></div>						
  				<% end %> 
  			</div>
		</div>

		<div class="col-md-3">
 			Puntos Cumplidos:&nbsp;<%= estandar.puntaje %>&nbsp;de:&nbsp;<%= @nombre_estandar.puntaje_total.to_f %>
 		</div>
 		<div class="col-md-2">
 			<%= estandar.status %>
 		</div>



</div>
<% end %>
 
 </div>
 <% end %>

 <div class="container-fluid-crud">
<div class="row">
  <div class="col-md-6">
    <div class="btn-group">
      <button type="button" class="btn btn-success btn-lg dropdown-toggle" data-toggle="dropdown">
        Material de Apoyo <span class="caret"></span>
      </button>

      <ul class="dropdown-menu" role="menu">
        <li><a href="#">Manual para Certificación</a></li>
        <li><a href="#">Identificación de Riesgos</a></li>
        <li><a href="#">Trabajo en Equipo</a></li>
        <% if current_user.has_role?(:cert_site_admin) %>
          <li class="divider"></li>
          <li><a href="#">Subir Documentos</a></li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="col-md-6">
    <div class="btn-group">
      <button type="button" class="btn btn-info btn-lg dropdown-toggle" data-toggle="dropdown">
        Material Obligatorio <span class="caret"></span>
      </button>

      <ul class="dropdown-menu" role="menu">
        <li><a href="#">Plantilla de registro de contacto</a></li>
        <li><a href="#">Carta de asignación </a></li>
        <li><a href="#">Carta compromiso</a></li>
        <li><a href="#">Documento valoración y selección de riesgos </a></li>
        <% if current_user.has_role?(:cert_site_admin) %>
          <li class="divider"></li>
          <li><a href="#">Subir Documentos</a></li>
          <% end %>
      </ul>
    </div>
  </div>




  