<%= render 'shared/socios_sidebar' %>

   <div class="main">
   <h1>Sitio Socios</h1>
   <%= link_to 'Subir Recurso', new_recurso_path, class: "btn btn-default btn-lg" %></p> 
   <br>
   <% @recursos.each do |recurso| %>      
    <p><%= recurso.nombre %></p>
    <p><%= recurso.user %></p>
    <p><%= link_to 'Mostrar', recurso %></p>
    <p><%= link_to 'Eliminar', recurso, method: :delete, data: { confirm: '¿Confirma Elimnar Archivo?' } %></p>     
   <% end %>
   <br>   
</div>
